# Data Wrangling 2.1

In [1]:
import math
import numpy as np
import pandas as pd

import psycopg2

import json

import csv

from datetime import datetime as dt

from IPython.display import display, HTML

In [2]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [3]:
cursor = connection.cursor()

In [4]:
#
# function to run a select query and return rows in a pandas dataframe
# pandas puts all numeric values from postgres to float
# if it will fit in an integer, change it to integer
#

def my_select_query_pandas(query, rollback_before_flag, rollback_after_flag):
    "function to run a select query and return rows in a pandas dataframe"
    
    if rollback_before_flag:
        connection.rollback()
    
    df = pd.read_sql_query(query, connection)
    
    if rollback_after_flag:
        connection.rollback()
    
    # fix the float columns that really should be integers
    
    for column in df:
    
        if df[column].dtype == "float64":

            fraction_flag = False

            for value in df[column].values:
                
                if not np.isnan(value):
                    if value - math.floor(value) != 0:
                        fraction_flag = True

            if not fraction_flag:
                df[column] = df[column].astype('Int64')
    
    return(df)

# Lab: Data Extraction

## So far, we have done several data extractions:

* extracting database tables to csv format
* extracting database tables to flat json format
* extracting flat json files to csv format
* extracting database tables to nested json format
* extracting nested json files to csv format
* extracting database tables to Excel workbooks with several work sheets
* extracting Excel workbooks with several work sheets to csv format

## Last week, we extracted our temp database tables into the stores nested json file; we will now extract our temp database tables starting with sales at the top and perform some more complicated transformations as part of the extract

In [5]:
def my_extract_sales_nested_json(file_name):
    "extract nested json with sales at the top level to the file"
    
    connection.rollback()
    
    file_json = {"creator": "Acme Gourmet Meals",
                  "timestamp": dt.now().strftime("%Y-%d-%m %H:%M:%S"),
                  "file_name": file_name, 
                  "version": "12.4.7",
                  "legal": "Unauthorized use, duplication, or possession, blah, blah",
                  "sales": []
                }
        
    query = """
    
    select row_to_json(a)
    from (select store_id,
                 sale_id,
                 customer_id,
                 (lpad(store_id::text, 3, '0') || '-' || lpad(sale_id::text, 9, '0')) as receipt_number,
                 sale_date,
                 total_amount as sub_total,
                 0 as tax,
                 total_amount
          from temp_sales
          order by store_id, sale_id
          ) as a
           
    """
    
    cursor.execute(query)
    
    connection.rollback()

    sale_rows = cursor.fetchall()
    
    sale_list_json = []
    
    for sale in sale_rows:
        
        sale_json = sale[0]
        store_id = sale_json['store_id']
        sale_id = sale_json['sale_id']
        customer_id = sale_json['customer_id']
        
        del sale_json['store_id']
        del sale_json['sale_id']
        del sale_json['customer_id']
                
            
        query = """

            select row_to_json(a)
            from (select *
                  from temp_stores
                  where store_id = %s
                  ) as a

        """
            
        cursor.execute(query, (store_id,))
    
        connection.rollback()
        
        store_row = cursor.fetchone()
        
        store_json = store_row[0]
        
        sale_json['store'] = store_json
            
            
        query = """

            select row_to_json(a)
            from (select customer_id,
                         cu.first_name,
                         cu.last_name,
                         (cu.first_name || ' ' || cu.last_name) as first_last_name,
                         (cu.last_name || ', ' || cu.first_name) as last_first_name,
                         cu.street,
                         cu.city,
                         cu.state,
                         cu.zip,
                         z.population,
                         z.area,
                         z.density,
                         cu.closest_store_id,
                         cu.distance
                  from temp_customers as cu
                       join zip_codes as z
                           on z.zip = cu.zip
                  where customer_id = %s
                  ) as a

        """
            
        cursor.execute(query, (customer_id,))
    
        connection.rollback()
        
        customer_row = cursor.fetchone()
        
        customer_json = customer_row[0]
        
        sale_json['customer'] = customer_json
        
        
        
        line_item_list_json = []
            
        query = """

            select row_to_json(a)
            from (select l.product_id,
                         p.description,
                         12 as price,
                         l.quantity,
                         12 * l.quantity as line_total
                  from temp_line_items as l
                       join products as p
                           on l.product_id = p.product_id
                  where store_id = %s and sale_id = %s 
                  order by store_id, sale_id, line_item_id
                  ) as a

        """

        cursor.execute(query, (store_id, sale_id))
    
        connection.rollback()
        
        line_item_rows = cursor.fetchall()
        
        line_item_list_json = []
            
        for line_item_row in line_item_rows:
                
            line_item_json = line_item_row[0]
            
            line_item_list_json.append(line_item_json)
            
        sale_json['line_items'] = line_item_list_json
             
    
        file_json['sales'].append(sale_json)
    
        
    f = open(file_name, "w")
    
    json.dump(file_json, f, indent=2)

    f.close()

In [6]:
my_extract_sales_nested_json("temp_sales_nested.json")

## Use recursion to print nested json to show the structure

In [7]:
def my_recursive_print_json(j, level = -1):
    "given a json object print it"
    
    level += 1
    
    spaces = "    "
    
    if type(j) is dict:
        dict_2_list = list(j.keys())
        for k in dict_2_list:
            print(spaces * level + k)
            my_recursive_print_json(j[k], level)
            
    elif type(j) is list:
        for (i, l) in enumerate(j):
            print(spaces * level + "[" + str(i) + "]")
            my_recursive_print_json(l, level)
                  
    else:
        print(spaces * level + "value:", str(j))

In [8]:
def my_read_nested_json(file_name):
    "given a file of json, read it and parse it meaningfully"
    
    f = open(file_name, "r")
    
    j = json.load(f)
    
    f.close
    
    my_recursive_print_json(j)

In [9]:
my_read_nested_json("temp_sales_nested.json")

creator
    value: Acme Gourmet Meals
timestamp
    value: 2025-13-02 00:12:52
file_name
    value: temp_sales_nested.json
version
    value: 12.4.7
legal
    value: Unauthorized use, duplication, or possession, blah, blah
sales
    [0]
        receipt_number
            value: 001-000128112
        sale_date
            value: 2020-04-30
        sub_total
            value: 24
        tax
            value: 0
        total_amount
            value: 24
        store
            store_id
                value: 1
            street
                value: 3000 Telegraph Ave
            city
                value: Berkeley
            state
                value: CA
            zip
                value: 94705
            latitude
                value: 37.8555
            longitude
                value: -122.2604
        customer
            customer_id
                value: 3491
            first_name
                value: Siouxie
            last_name
                value: M'Quharge
            first_last_name
                value: Siouxie M'Quharge
            last_first_name
                value: M'Quharge, Siouxie
            street
                value: 747 Westridge Center
            city
                value: Alameda
            state
                value: CA
            zip
                value: 94501
            population
                value: 63843
            area
                value: 8.3977
            density
                value: 7602.4
            closest_store_id
                value: 1
            distance
                value: 6
        line_items
            [0]
                product_id
                    value: 1
                description
                    value: Pistachio Salmon
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [1]
                product_id
                    value: 8
                description
                    value: Brocolli Stir Fry
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
    [1]
        receipt_number
            value: 001-000144249
        sale_date
            value: 2020-05-16
        sub_total
            value: 84
        tax
            value: 0
        total_amount
            value: 84
        store
            store_id
                value: 1
            street
                value: 3000 Telegraph Ave
            city
                value: Berkeley
            state
                value: CA
            zip
                value: 94705
            latitude
                value: 37.8555
            longitude
                value: -122.2604
        customer
            customer_id
                value: 1597
            first_name
                value: Norry
            last_name
                value: Macauley
            first_last_name
                value: Norry Macauley
            last_first_name
                value: Macauley, Norry
            street
                value: 654 Sommers Plaza
            city
                value: Oakland
            state
                value: CA
            zip
                value: 94612
            population
                value: 16062
            area
                value: 0.9543
            density
                value: 16831.56
            closest_store_id
                value: 1
            distance
                value: 3
        line_items
            [0]
                product_id
                    value: 1
                description
                    value: Pistachio Salmon
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [1]
                product_id
                    value: 2
                description
                    value: Teriyaki Chicken
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [2]
                product_id
                    value: 4
                description
                    value: Eggplant Lasagna
                price
                    value: 12
                quantity
                    value: 2
                line_total
                    value: 24
            [3]
                product_id
                    value: 6
                description
                    value: Curry Chicken
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [4]
                product_id
                    value: 8
                description
                    value: Brocolli Stir Fry
                price
                    value: 12
                quantity
                    value: 2
                line_total
                    value: 24
    [2]
        receipt_number
            value: 001-000163141
        sale_date
            value: 2020-06-04
        sub_total
            value: 96
        tax
            value: 0
        total_amount
            value: 96
        store
            store_id
                value: 1
            street
                value: 3000 Telegraph Ave
            city
                value: Berkeley
            state
                value: CA
            zip
                value: 94705
            latitude
                value: 37.8555
            longitude
                value: -122.2604
        customer
            customer_id
                value: 4159
            first_name
                value: Cheryl
            last_name
                value: Broe
            first_last_name
                value: Cheryl Broe
            last_first_name
                value: Broe, Cheryl
            street
                value: 7 Ruskin Alley
            city
                value: El Sobrante
            state
                value: CA
            zip
                value: 94803
            population
                value: 26165
            area
                value: 12.2691
            density
                value: 2132.6
            closest_store_id
                value: 1
            distance
                value: 7
        line_items
            [0]
                product_id
                    value: 1
                description
                    value: Pistachio Salmon
                price
                    value: 12
                quantity
                    value: 3
                line_total
                    value: 36
            [1]
                product_id
                    value: 3
                description
                    value: Spinach Orzo
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [2]
                product_id
                    value: 5
                description
                    value: Chicken Salad
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [3]
                product_id
                    value: 7
                description
                    value: Tilapia Piccata
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [4]
                product_id
                    value: 8
                description
                    value: Brocolli Stir Fry
                price
                    value: 12
                quantity
                    value: 2
                line_total
                    value: 24
    [3]
        receipt_number
            value: 001-000169216
        sale_date
            value: 2020-06-09
        sub_total
            value: 144
        tax
            value: 0
        total_amount
            value: 144
        store
            store_id
                value: 1
            street
                value: 3000 Telegraph Ave
            city
                value: Berkeley
            state
                value: CA
            zip
                value: 94705
            latitude
                value: 37.8555
            longitude
                value: -122.2604
        customer
            customer_id
                value: 4198
            first_name
                value: Andreana
            last_name
                value: Drew
            first_last_name
                value: Andreana Drew
            last_first_name
                value: Drew, Andreana
            street
                value: 11039 Cordelia Alley
            city
                value: El Sobrante
            state
                value: CA
            zip
                value: 94803
            population
                value: 26165
            area
                value: 12.2691
            density
                value: 2132.6
            closest_store_id
                value: 1
            distance
                value: 7
        line_items
            [0]
                product_id
                    value: 1
                description
                    value: Pistachio Salmon
                price
                    value: 12
                quantity
                    value: 3
                line_total
                    value: 36
            [1]
                product_id
                    value: 3
                description
                    value: Spinach Orzo
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [2]
                product_id
                    value: 4
                description
                    value: Eggplant Lasagna
                price
                    value: 12
                quantity
                    value: 4
                line_total
                    value: 48
            [3]
                product_id
                    value: 5
                description
                    value: Chicken Salad
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [4]
                product_id
                    value: 6
                description
                    value: Curry Chicken
                price
                    value: 12
                quantity
                    value: 2
                line_total
                    value: 24
            [5]
                product_id
                    value: 8
                description
                    value: Brocolli Stir Fry
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
    [4]
        receipt_number
            value: 001-000179181
        sale_date
            value: 2020-06-18
        sub_total
            value: 48
        tax
            value: 0
        total_amount
            value: 48
        store
            store_id
                value: 1
            street
                value: 3000 Telegraph Ave
            city
                value: Berkeley
            state
                value: CA
            zip
                value: 94705
            latitude
                value: 37.8555
            longitude
                value: -122.2604
        customer
            customer_id
                value: 5394
            first_name
                value: Katharina
            last_name
                value: Bavester
            first_last_name
                value: Katharina Bavester
            last_first_name
                value: Bavester, Katharina
            street
                value: 522 Cordelia Lane
            city
                value: San Francisco
            state
                value: CA
            zip
                value: 94102
            population
                value: 31067
            area
                value: 0.6665
            density
                value: 46609.19
            closest_store_id
                value: 1
            distance
                value: 10
        line_items
            [0]
                product_id
                    value: 2
                description
                    value: Teriyaki Chicken
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [1]
                product_id
                    value: 3
                description
                    value: Spinach Orzo
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [2]
                product_id
                    value: 4
                description
                    value: Eggplant Lasagna
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [3]
                product_id
                    value: 6
                description
                    value: Curry Chicken
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
    [5]
        receipt_number
            value: 001-000181897
        sale_date
            value: 2020-06-20
        sub_total
            value: 48
        tax
            value: 0
        total_amount
            value: 48
        store
            store_id
                value: 1
            street
                value: 3000 Telegraph Ave
            city
                value: Berkeley
            state
                value: CA
            zip
                value: 94705
            latitude
                value: 37.8555
            longitude
                value: -122.2604
        customer
            customer_id
                value: 1958
            first_name
                value: Theresina
            last_name
                value: Penswick
            first_last_name
                value: Theresina Penswick
            last_first_name
                value: Penswick, Theresina
            street
                value: 5975 Twin Pines Hill
            city
                value: Berkeley
            state
                value: CA
            zip
                value: 94707
            population
                value: 11916
            area
                value: 1.7251
            density
                value: 6907.5
            closest_store_id
                value: 1
            distance
                value: 3
        line_items
            [0]
                product_id
                    value: 1
                description
                    value: Pistachio Salmon
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [1]
                product_id
                    value: 6
                description
                    value: Curry Chicken
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [2]
                product_id
                    value: 8
                description
                    value: Brocolli Stir Fry
                price
                    value: 12
                quantity
                    value: 2
                line_total
                    value: 24
    [6]
        receipt_number
            value: 001-000248269
        sale_date
            value: 2020-08-22
        sub_total
            value: 60
        tax
            value: 0
        total_amount
            value: 60
        store
            store_id
                value: 1
            street
                value: 3000 Telegraph Ave
            city
                value: Berkeley
            state
                value: CA
            zip
                value: 94705
            latitude
                value: 37.8555
            longitude
                value: -122.2604
        customer
            customer_id
                value: 4260
            first_name
                value: Dom
            last_name
                value: Risbrough
            first_last_name
                value: Dom Risbrough
            last_first_name
                value: Risbrough, Dom
            street
                value: 3 Northland Crossing
            city
                value: Richmond
            state
                value: CA
            zip
                value: 94805
            population
                value: 14208
            area
                value: 2.0644
            density
                value: 6882.38
            closest_store_id
                value: 1
            distance
                value: 7
        line_items
            [0]
                product_id
                    value: 1
                description
                    value: Pistachio Salmon
                price
                    value: 12
                quantity
                    value: 3
                line_total
                    value: 36
            [1]
                product_id
                    value: 5
                description
                    value: Chicken Salad
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [2]
                product_id
                    value: 8
                description
                    value: Brocolli Stir Fry
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
    [7]
        receipt_number
            value: 001-000250031
        sale_date
            value: 2020-08-23
        sub_total
            value: 24
        tax
            value: 0
        total_amount
            value: 24
        store
            store_id
                value: 1
            street
                value: 3000 Telegraph Ave
            city
                value: Berkeley
            state
                value: CA
            zip
                value: 94705
            latitude
                value: 37.8555
            longitude
                value: -122.2604
        customer
            customer_id
                value: 6782
            first_name
                value: Lyndsay
            last_name
                value: Iuorio
            first_last_name
                value: Lyndsay Iuorio
            last_first_name
                value: Iuorio, Lyndsay
            street
                value: 4 Thackeray Road
            city
                value: Walnut Creek
            state
                value: CA
            zip
                value: 94596
            population
                value: 20822
            area
                value: 6.1908
            density
                value: 3363.36
            closest_store_id
                value: 1
            distance
                value: 12
        line_items
            [0]
                product_id
                    value: 1
                description
                    value: Pistachio Salmon
                price
                    value: 12

                value: 75201
            latitude
                value: 32.7958
            longitude
                value: -96.8015
        customer
            customer_id
                value: 15799
            first_name
                value: Zackariah
            last_name
                value: McCreath
            first_last_name
                value: Zackariah McCreath
            last_first_name
                value: McCreath, Zackariah
            street
                value: 64828 Farwell Terrace
            city
                value: Dallas
            state
                value: TX
            zip
                value: 75219
            population
                value: 23419
            area
                value: 2.32
            density
                value: 10094.48
            closest_store_id
                value: 3
            distance
                value: 1
        line_items
            [0]
                product_id
                    value: 2
                description
                    value: Teriyaki Chicken
                price
                    value: 12
                quantity
                    value: 3
                line_total
                    value: 36
            [1]
                product_id
                    value: 4
                description
                    value: Eggplant Lasagna
                price
                    value: 12
                quantity
                    value: 2
                line_total
                    value: 24
            [2]
                product_id
                    value: 6
                description
                    value: Curry Chicken
                price
                    value: 12
                quantity
                    value: 2
                line_total
                    value: 24
            [3]
                product_id
                    value: 7
                description
                    value: Tilapia Piccata
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [4]
                product_id
                    value: 8
                description
                    value: Brocolli Stir Fry
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
    [26]
        receipt_number
            value: 003-000177427
        sale_date
            value: 2020-08-06
        sub_total
            value: 24
        tax
            value: 0
        total_amount
            value: 24
        store
            store_id
                value: 3
            street
                value: 2510 McKinney Ave
            city
                value: Dallas
            state
                value: TX
            zip
                value: 75201
            latitude
                value: 32.7958
            longitude
                value: -96.8015
        customer
            customer_id
                value: 16932
            first_name
                value: Betta
            last_name
                value: Swatland
            first_last_name
                value: Betta Swatland
            last_first_name
                value: Swatland, Betta
            street
                value: 7060 Merchant Pass
            city
                value: Dallas
            state
                value: TX
            zip
                value: 75210
            population
                value: 8578
            area
                value: 2.5972
            density
                value: 3302.75
            closest_store_id
                value: 3
            distance
                value: 4
        line_items
            [0]
                product_id
                    value: 4
                description
                    value: Eggplant Lasagna
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [1]
                product_id
                    value: 6
                description
                    value: Curry Chicken
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
    [27]
        receipt_number
            value: 003-000183488
        sale_date
            value: 2020-08-13
        sub_total
            value: 12
        tax
            value: 0
        total_amount
            value: 12
        store
            store_id
                value: 3
            street
                value: 2510 McKinney Ave
            city
                value: Dallas
            state
                value: TX
            zip
                value: 75201
            latitude
                value: 32.7958
            longitude
                value: -96.8015
        customer
            customer_id
                value: 15710
            first_name
                value: Ted
            last_name
                value: Campany
            first_last_name
                value: Ted Campany
            last_first_name
                value: Campany, Ted
            street
                value: 91111 West Road
            city
                value: Dallas
            state
                value: TX
            zip
                value: 75219
            population
                value: 23419
            area
                value: 2.32
            density
                value: 10094.48
            closest_store_id
                value: 3
            distance
                value: 1
        line_items
            [0]
                product_id
                    value: 5
                description
                    value: Chicken Salad
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
    [28]
        receipt_number
            value: 003-000186881
        sale_date
            value: 2020-08-16
        sub_total
            value: 144
        tax
            value: 0
        total_amount
            value: 144
        store
            store_id
                value: 3
            street
                value: 2510 McKinney Ave
            city
                value: Dallas
            state
                value: TX
            zip
                value: 75201
            latitude
                value: 32.7958
            longitude
                value: -96.8015
        customer
            customer_id
                value: 19226
            first_name
                value: Christin
            last_name
                value: Penny
            first_last_name
                value: Christin Penny
            last_first_name
                value: Penny, Christin
            street
                value: 3452 Muir Hill
            city
                value: Dallas
            state
                value: TX
            zip
                value: 75238
            population
                value: 33220
            area
                value: 7.1671
            density
                value: 4635.04
            closest_store_id
                value: 3
            distance
                value: 8
        line_items
            [0]
                product_id
                    value: 1
                description
                    value: Pistachio Salmon
                price
                    value: 12
                quantity
                    value: 4
                line_total
                    value: 48
            [1]
                product_id
                    value: 2
                description
                    value: Teriyaki Chicken
                price
                    value: 12
                quantity
                    value: 3
                line_total
                    value: 36
            [2]
                product_id
                    value: 4
                description
                    value: Eggplant Lasagna
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [3]
                product_id
                    value: 6
                description
                    value: Curry Chicken
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [4]
                product_id
                    value: 8
                description
                    value: Brocolli Stir Fry
                price
                    value: 12
                quantity
                    value: 3
                line_total
                    value: 36
    [29]
        receipt_number
            value: 003-000209184
        sale_date
            value: 2020-09-13
        sub_total
            value: 36
        tax
            value: 0
        total_amount
            value: 36
        store
            store_id
                value: 3
            street
                value: 2510 McKinney Ave
            city
                value: Dallas
            state
                value: TX
            zip
                value: 75201
            latitude
                value: 32.7958
            longitude
                value: -96.8015
        customer
            customer_id
                value: 19954
            first_name
                value: Merell
            last_name
                value: Cruikshanks
            first_last_name
                value: Merell Cruikshanks
            last_first_name
                value: Cruikshanks, Merell
            street
                value: 5 Armistice Road
            city
                value: Mesquite
            state
                value: TX
            zip
                value: 75150
            population
                value: 62452
            area
                value: 13.574
            density
                value: 4600.86
            closest_store_id
                value: 3
            distance
                value: 10
        line_items
            [0]
                product_id
                    value: 1
                description
                    value: Pistachio Salmon
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [1]
                product_id
                    value: 6
                description
                    value: Curry Chicken
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [2]
                product_id
                    value: 8
                description
                    value: Brocolli Stir Fry
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
    [30]
        receipt_number
            value: 004-000089887
        sale_date
            value: 2020-04-30
        sub_total
            value: 48
        tax
            value: 0
        total_amount
            value: 48
        store
            store_id
                value: 4
            street
                value: 299 SE 3rd Ave
            city
                value: Miami
            state
                value: FL
            zip
                value: 33131
            latitude
                value: 25.772
            longitude
                value: -80.1891
        customer
            customer_id
                value: 23902
            first_name
                value: Joice
            last_name
                value: Chidgey
            first_last_name
                value: Joice Chidgey
            last_first_name
                value: Chidgey, Joice
            street
                value: 7996 Loeprich Alley
            city
                value: Miami
            state
                value: FL
            zip
                value: 33138
            population
                value: 29867
            area
                value: 4.5688
            density
                value: 6537.13
            closest_store_id
                value: 4
            distance
                value: 6
        line_items
            [0]
                product_id
                    value: 1
                description
                    value: Pistachio Salmon
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [1]
                product_id
                    value: 2
                description
                    value: Teriyaki Chicken
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [2]
                product_id
                    value: 3
                description
                    value: Spinach Orzo
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [3]
                product_id
                    value: 8
                description
                    value: Brocolli Stir Fry
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
    [31]
        receipt_number
            value: 004-000111979
        sale_date
            value: 2020-05-31
        sub_total
            value: 108
        tax
            value: 0
        total_amount
            value: 108
        store
            store_id
                value: 4
            street
                value: 299 SE 3rd Ave
            city
                value: Miami
            state
                value: FL
            zip
                value: 33131
            latitude
                value: 25.772
            longitude
                value: -80.1891
        customer
            customer_id
                value: 25267
            first_name
                value: Tobin
            last_name
                value: Pude
            first_last_name
                value: Tobin Pude
            last_first_name
                value: Pude, Tobin
            street
                value: 70078 Porter Court
            city
                value: Miami
            state
                value: FL
            zip
                value: 33166
            population
                value: 24830
            area
                value: 10.1299
            density
                value: 2451.17
            closest_store_id
                value: 4
            distance
                value: 9
        line_items
            [0]
                product_id
                    value: 1
                description
                    value: Pistachio Salmon
                price
                    value: 12
                quantity
                    value: 2
                line_total
                    value: 24
            [1]
                product_id
                    value: 2
                description
                    value: Teriyaki Chicken
                price
                    value: 12
                quantity
                    value: 2
                line_total
                    value: 24
            [2]
                product_id
                    value: 4
                description
                    value: Eggplant Lasagna
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [3]
                product_id
                    value: 6
                description
                    value: Curry Chicken
                price
                    value: 12
                quantity
                    value: 2
                line_total
                    value: 24
            [4]
                product_id
                    value: 8
                description
                    value: Brocolli Stir Fry
                price
                    value: 12
                quantity
                    value: 2
                line_total
                    value: 24
    [32]
        receipt_number
            value: 004-000115633
        sale_date
            value: 2020-06-05
        sub_total
            value: 120
        tax
            value: 0
        total_amount
            value: 120
        store
            store_id
                value: 4
            street
                value: 299 SE 3rd Ave
            city
                value: Miami
            state
                value: FL
            zip
                value: 33131
            latitude
                value: 25.772
            longitude
                value: -80.1891
        customer
            customer_id
                value: 25339
            first_name
                value: Lucilia
            last_name
                value: Logg
            first_last_name
                value: Lucilia Logg
            last_first_name
                value: Logg, Lucilia
            street
                value: 62940 Towne Terrace
            city
                value: Miami
            state
                value: FL
            zip
                value: 33166
            population
                value: 24830
            area
                value: 10.1299
            density
                value: 2451.17
            closest_store_id
                value: 4
            distance
                value: 9
        line_items
            [0]
                product_id
                    value: 1
                description
                    value: Pistachio Salmon
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [1]
                product_id
                    value: 2
                description
                    value: Teriyaki Chicken
                price
                    value: 12
                quantity
                    value: 2
                line_total
                    value: 24
            [2]
                product_id
                    value: 3
                description
                    value: Spinach Orzo
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [3]
                product_id
                    value: 4
                description
                    value: Eggplant Lasagna
                price
                    value: 12
                quantity
                    value: 4
                line_total
                    value: 48
            [4]
                product_id
                    value: 6
                description
                    value: Curry Chicken
                price
                    value: 12
                quantity
                    value: 2
                line_total
                    value: 24
    [33]
        receipt_number
            value: 004-000137286
        sale_date
            value: 2020-07-05
        sub_total
            value: 24
        tax
            value: 0
        total_amount
            value: 24
        store
            store_id
                value: 4
            street
                value: 299 SE 3rd Ave
            city

                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [4]
                product_id
                    value: 7
                description
                    value: Tilapia Piccata
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
    [48]
        receipt_number
            value: 005-000147541
        sale_date
            value: 2020-08-27
        sub_total
            value: 96
        tax
            value: 0
        total_amount
            value: 96
        store
            store_id
                value: 5
            street
                value: 1202 Broadway
            city
                value: Nashville
            state
                value: TN
            zip
                value: 37203
            latitude
                value: 36.1568
            longitude
                value: -86.7881
        customer
            customer_id
                value: 27654
            first_name
                value: Nestor
            last_name
                value: Winfred
            first_last_name
                value: Nestor Winfred
            last_first_name
                value: Winfred, Nestor
            street
                value: 593 American Ash Hill
            city
                value: Nashville
            state
                value: TN
            zip
                value: 37208
            population
                value: 17582
            area
                value: 5.0517
            density
                value: 3480.43
            closest_store_id
                value: 5
            distance
                value: 2
        line_items
            [0]
                product_id
                    value: 1
                description
                    value: Pistachio Salmon
                price
                    value: 12
                quantity
                    value: 2
                line_total
                    value: 24
            [1]
                product_id
                    value: 2
                description
                    value: Teriyaki Chicken
                price
                    value: 12
                quantity
                    value: 3
                line_total
                    value: 36
            [2]
                product_id
                    value: 3
                description
                    value: Spinach Orzo
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [3]
                product_id
                    value: 4
                description
                    value: Eggplant Lasagna
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [4]
                product_id
                    value: 7
                description
                    value: Tilapia Piccata
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
    [49]
        receipt_number
            value: 005-000157919
        sale_date
            value: 2020-09-14
        sub_total
            value: 48
        tax
            value: 0
        total_amount
            value: 48
        store
            store_id
                value: 5
            street
                value: 1202 Broadway
            city
                value: Nashville
            state
                value: TN
            zip
                value: 37203
            latitude
                value: 36.1568
            longitude
                value: -86.7881
        customer
            customer_id
                value: 27997
            first_name
                value: Meagan
            last_name
                value: Gussin
            first_last_name
                value: Meagan Gussin
            last_first_name
                value: Gussin, Meagan
            street
                value: 73526 2nd Terrace
            city
                value: Nashville
            state
                value: TN
            zip
                value: 37212
            population
                value: 21031
            area
                value: 2.8952
            density
                value: 7264.14
            closest_store_id
                value: 5
            distance
                value: 2
        line_items
            [0]
                product_id
                    value: 1
                description
                    value: Pistachio Salmon
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12
            [1]
                product_id
                    value: 4
                description
                    value: Eggplant Lasagna
                price
                    value: 12
                quantity
                    value: 2
                line_total
                    value: 24
            [2]
                product_id
                    value: 7
                description
                    value: Tilapia Piccata
                price
                    value: 12
                quantity
                    value: 1
                line_total
                    value: 12

## You try it - extract our temp database tables into the customer nested json file, temp_customers_nested.json, which we looked at last week; some hints:

* customer:
 * create a derived column first_last_name 
 * create a derived column last_first_name
 * join the temp_customers table to the zip_codes table to pull the population, area, and density
* sale:
 * receipt_number is a derived column made up of store_id and sale_id
 * since we don't have sales tax on food, sub_total is the total_amount and tax is 0
* line items:
 * 12 is the price since all meals cost $12 tax included
 * 12 * quantity is the line_total

In [10]:
def my_extract_customers_nested_json(file_name):
    "extract nested json with customers at the top level to the file"
    
    connection.rollback()
    
    file_json = {"creator": "Acme Gourmet Meals",
                  "timestamp": dt.now().strftime("%Y-%d-%m %H:%M:%S"),
                  "file_name": file_name, 
                  "version": "12.4.7",
                  "legal": "Unauthorized use, duplication, or possession, blah, blah",
                  "customers": []
                }
        
    query = """
    
    select row_to_json(a)
    from (select cu.customer_id,
                 cu.first_name,
                 cu.last_name,
                 (cu.first_name || ' ' || cu.last_name) as first_last_name,
                 (cu.last_name || ', ' || cu.first_name) as last_first_name,
                 cu.street,
                 cu.city,
                 cu.state,
                 cu.zip,
                 z.population,
                 z.area,
                 z.density,
                 cu.closest_store_id,
                 cu.distance                 
          from temp_customers as cu
               join zip_codes as z
                   on cu.zip = z.zip
          order by cu.customer_id
          ) as a
           
    """
    
    cursor.execute(query)
    
    connection.rollback()
        
    customer_rows = cursor.fetchall()
    
    
    
    for customer_row in customer_rows:
        
        customer_json = customer_row[0]
        customer_id = customer_json['customer_id']
        
        query = """

            select row_to_json(a)
            from (select sa.store_id,
                         sa.sale_id,
                         sa.customer_id,
                         (lpad(sa.store_id::text, 3, '0') || '-' || lpad(sa.sale_id::text, 9, '0')) as receipt_number,
                         sa.sale_date,
                         sa.total_amount as sub_total,
                         0 as tax,
                         sa.total_amount
                  from temp_sales as sa
                  where sa.customer_id = %s
                  order by store_id, sale_id
                  ) as a

        """
        
        cursor.execute(query, (customer_id,))

        connection.rollback()

        sale_rows = cursor.fetchall()

        sale_list_json = []
    
        for sale in sale_rows:

            sale_json = sale[0]
            store_id = sale_json['store_id']
            sale_id = sale_json['sale_id']
            customer_id = sale_json['customer_id']

            del sale_json['store_id']
            del sale_json['sale_id']
            del sale_json['customer_id']


            query = """

                select row_to_json(a)
                from (select *
                      from temp_stores
                      where store_id = %s
                      ) as a

            """

            cursor.execute(query, (store_id,))

            connection.rollback()

            store_row = cursor.fetchone()

            store_json = store_row[0]

            sale_json['store'] = store_json

            line_item_list_jason = []

            query = """

                select row_to_json(a)
                from (select l.product_id,
                             p.description,
                             12 as price,
                             l.quantity,
                             12 * l.quantity as line_total
                      from temp_line_items as l
                           join products as p
                               on l.product_id = p.product_id
                      where store_id = %s and sale_id = %s 
                      order by store_id, sale_id, line_item_id
                      ) as a

            """

            cursor.execute(query, (store_id, sale_id))

            connection.rollback()

            line_item_rows = cursor.fetchall()

            line_item_list_json = []

            for line_item_row in line_item_rows:

                line_item_json = line_item_row[0]

                line_item_list_json.append(line_item_json)

            sale_json['line_items'] = line_item_list_json
            sale_list_json.append(sale_json)
            
        customer_json['sales'] = sale_list_json
        
        file_json['customers'].append(customer_json)
        
    f = open(file_name, "w")
    
    json.dump(file_json, f, indent=2)

    f.close()  
    
    return

In [11]:
my_extract_customers_nested_json("temp_customers_nested.json")

In [12]:
my_read_nested_json("temp_customers_nested.json")

creator
    value: Acme Gourmet Meals
timestamp
    value: 2025-13-02 00:12:52
file_name
    value: temp_customers_nested.json
version
    value: 12.4.7
legal
    value: Unauthorized use, duplication, or possession, blah, blah
customers
    [0]
        customer_id
            value: 563
        first_name
            value: Rose
        last_name
            value: Slimings
        first_last_name
            value: Rose Slimings
        last_first_name
            value: Slimings, Rose
        street
            value: 38 Iowa Street
        city
            value: Berkeley
        state
            value: CA
        zip
            value: 94704
        population
            value: 29190
        area
            value: 1.2177
        density
            value: 23972.16
        closest_store_id
            value: 1
        distance
            value: 1
        sales
            [0]
                receipt_number
                    value: 001-000255285
                sale_date
                    value: 2020-08-29
                sub_total
                    value: 36
                tax
                    value: 0
                total_amount
                    value: 36
                store
                    store_id
                        value: 1
                    street
                        value: 3000 Telegraph Ave
                    city
                        value: Berkeley
                    state
                        value: CA
                    zip
                        value: 94705
                    latitude
                        value: 37.8555
                    longitude
                        value: -122.2604
                line_items
                    [0]
                        product_id
                            value: 2
                        description
                            value: Teriyaki Chicken
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
    [1]
        customer_id
            value: 1597
        first_name
            value: Norry
        last_name
            value: Macauley
        first_last_name
            value: Norry Macauley
        last_first_name
            value: Macauley, Norry
        street
            value: 654 Sommers Plaza
        city
            value: Oakland
        state
            value: CA
        zip
            value: 94612
        population
            value: 16062
        area
            value: 0.9543
        density
            value: 16831.56
        closest_store_id
            value: 1
        distance
            value: 3
        sales
            [0]
                receipt_number
                    value: 001-000144249
                sale_date
                    value: 2020-05-16
                sub_total
                    value: 84
                tax
                    value: 0
                total_amount
                    value: 84
                store
                    store_id
                        value: 1
                    street
                        value: 3000 Telegraph Ave
                    city
                        value: Berkeley
                    state
                        value: CA
                    zip
                        value: 94705
                    latitude
                        value: 37.8555
                    longitude
                        value: -122.2604
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 2
                        description
                            value: Teriyaki Chicken
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [2]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [3]
                        product_id
                            value: 6
                        description
                            value: Curry Chicken
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [4]
                        product_id
                            value: 8
                        description
                            value: Brocolli Stir Fry
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
    [2]
        customer_id
            value: 1958
        first_name
            value: Theresina
        last_name
            value: Penswick
        first_last_name
            value: Theresina Penswick
        last_first_name
            value: Penswick, Theresina
        street
            value: 5975 Twin Pines Hill
        city
            value: Berkeley
        state
            value: CA
        zip
            value: 94707
        population
            value: 11916
        area
            value: 1.7251
        density
            value: 6907.5
        closest_store_id
            value: 1
        distance
            value: 3
        sales
            [0]
                receipt_number
                    value: 001-000181897
                sale_date
                    value: 2020-06-20
                sub_total
                    value: 48
                tax
                    value: 0
                total_amount
                    value: 48
                store
                    store_id
                        value: 1
                    street
                        value: 3000 Telegraph Ave
                    city
                        value: Berkeley
                    state
                        value: CA
                    zip
                        value: 94705
                    latitude
                        value: 37.8555
                    longitude
                        value: -122.2604
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 6
                        description
                            value: Curry Chicken
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [2]
                        product_id
                            value: 8
                        description
                            value: Brocolli Stir Fry
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
    [3]
        customer_id
            value: 1991
        first_name
            value: Kevon
        last_name
            value: Wickett
        first_last_name
            value: Kevon Wickett
        last_first_name
            value: Wickett, Kevon
        street
            value: 472 Arizona Court
        city
            value: Berkeley
        state
            value: CA
        zip
            value: 94707
        population
            value: 11916
        area
            value: 1.7251
        density
            value: 6907.5
        closest_store_id
            value: 1
        distance
            value: 3
        sales
            [0]
                receipt_number
                    value: 001-000263524
                sale_date
                    value: 2020-09-07
                sub_total
                    value: 48
                tax
                    value: 0
                total_amount
                    value: 48
                store
                    store_id
                        value: 1
                    street
                        value: 3000 Telegraph Ave
                    city
                        value: Berkeley
                    state
                        value: CA
                    zip
                        value: 94705
                    latitude
                        value: 37.8555
                    longitude
                        value: -122.2604
                line_items
                    [0]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [1]
                        product_id
                            value: 6
                        description
                            value: Curry Chicken
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [2]
                        product_id
                            value: 8
                        description
                            value: Brocolli Stir Fry
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
    [4]
        customer_id
            value: 3491
        first_name
            value: Siouxie
        last_name
            value: M'Quharge
        first_last_name
            value: Siouxie M'Quharge
        last_first_name
            value: M'Quharge, Siouxie
        street
            value: 747 Westridge Center
        city
            value: Alameda
        state
            value: CA
        zip
            value: 94501
        population
            value: 63843
        area
            value: 8.3977
        density
            value: 7602.4
        closest_store_id
            value: 1
        distance
            value: 6
        sales
            [0]
                receipt_number
                    value: 001-000128112
                sale_date
                    value: 2020-04-30
                sub_total
                    value: 24
                tax
                    value: 0
                total_amount
                    value: 24
                store
                    store_id
                        value: 1
                    street
                        value: 3000 Telegraph Ave
                    city
                        value: Berkeley
                    state
                        value: CA
                    zip
                        value: 94705
                    latitude
                        value: 37.8555
                    longitude
                        value: -122.2604
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 8
                        description
                            value: Brocolli Stir Fry
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
    [5]
        customer_id
            value: 4159
        first_name
            value: Cheryl
        last_name
            value: Broe
        first_last_name
            value: Cheryl Broe
        last_first_name
            value: Broe, Cheryl
        street
            value: 7 Ruskin Alley
        city
            value: El Sobrante
        state
            value: CA
        zip
            value: 94803
        population
            value: 26165
        area
            value: 12.2691
        density
            value: 2132.6
        closest_store_id
            value: 1
        distance
            value: 7
        sales
            [0]
                receipt_number
                    value: 001-000163141
                sale_date
                    value: 2020-06-04
                sub_total
                    value: 96
                tax
                    value: 0
                total_amount
                    value: 96
                store
                    store_id
                        value: 1
                    street
                        value: 3000 Telegraph Ave
                    city
                        value: Berkeley
                    state
                        value: CA
                    zip
                        value: 94705
                    latitude
                        value: 37.8555
                    longitude
                        value: -122.2604
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 3
                        line_total
                            value: 36
                    [1]
                        product_id
                            value: 3
                        description
                            value: Spinach Orzo
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [2]
                        product_id
                            value: 5
                        description
                            value: Chicken Salad
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [3]
                        product_id
                            value: 7
                        description
                            value: Tilapia Piccata
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [4]
                        product_id
                            value: 8
                        description
                            value: Brocolli Stir Fry
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
    [6]
        customer_id
            value: 4198
        first_name
            value: Andreana
        last_name
            value: Drew
        first_last_name
            value: Andreana Drew
        last_first_name
            value: Drew, Andreana
        street
            value: 11039 Cordelia Alley
        city
            value: El Sobrante
        state
            value: CA
        zip
            value: 94803
        population
            value: 26165
        area
            value: 12.2691
        density

            value: 2132.6
        closest_store_id
            value: 1
        distance
            value: 7
        sales
            [0]
                receipt_number
                    value: 001-000169216
                sale_date
                    value: 2020-06-09
                sub_total
                    value: 144
                tax
                    value: 0
                total_amount
                    value: 144
                store
                    store_id
                        value: 1
                    street
                        value: 3000 Telegraph Ave
                    city
                        value: Berkeley
                    state
                        value: CA
                    zip
                        value: 94705
                    latitude
                        value: 37.8555
                    longitude
                        value: -122.2604
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 3
                        line_total
                            value: 36
                    [1]
                        product_id
                            value: 3
                        description
                            value: Spinach Orzo
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [2]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 4
                        line_total
                            value: 48
                    [3]
                        product_id
                            value: 5
                        description
                            value: Chicken Salad
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [4]
                        product_id
                            value: 6
                        description
                            value: Curry Chicken
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [5]
                        product_id
                            value: 8
                        description
                            value: Brocolli Stir Fry
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
    [7]
        customer_id
            value: 4260
        first_name
            value: Dom
        last_name
            value: Risbrough
        first_last_name
            value: Dom Risbrough
        last_first_name
            value: Risbrough, Dom
        street
            value: 3 Northland Crossing
        city
            value: Richmond
        state
            value: CA
        zip
            value: 94805
        population
            value: 14208
        area
            value: 2.0644
        density
            value: 6882.38
        closest_store_id
            value: 1
        distance
            value: 7
        sales
            [0]
                receipt_number
                    value: 001-000248269
                sale_date
                    value: 2020-08-22
                sub_total
                    value: 60
                tax
                    value: 0
                total_amount
                    value: 60
                store
                    store_id
                        value: 1
                    street
                        value: 3000 Telegraph Ave
                    city
                        value: Berkeley
                    state
                        value: CA
                    zip
                        value: 94705
                    latitude
                        value: 37.8555
                    longitude
                        value: -122.2604
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 3
                        line_total
                            value: 36
                    [1]
                        product_id
                            value: 5
                        description
                            value: Chicken Salad
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [2]
                        product_id
                            value: 8
                        description
                            value: Brocolli Stir Fry
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
    [8]
        customer_id
            value: 5394
        first_name
            value: Katharina
        last_name
            value: Bavester
        first_last_name
            value: Katharina Bavester
        last_first_name
            value: Bavester, Katharina
        street
            value: 522 Cordelia Lane
        city
            value: San Francisco
        state
            value: CA
        zip
            value: 94102
        population
            value: 31067
        area
            value: 0.6665
        density
            value: 46609.19
        closest_store_id
            value: 1
        distance
            value: 10
        sales
            [0]
                receipt_number
                    value: 001-000179181
                sale_date
                    value: 2020-06-18
                sub_total
                    value: 48
                tax
                    value: 0
                total_amount
                    value: 48
                store
                    store_id
                        value: 1
                    street
                        value: 3000 Telegraph Ave
                    city
                        value: Berkeley
                    state
                        value: CA
                    zip
                        value: 94705
                    latitude
                        value: 37.8555
                    longitude
                        value: -122.2604
                line_items
                    [0]
                        product_id
                            value: 2
                        description
                            value: Teriyaki Chicken
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 3
                        description
                            value: Spinach Orzo
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [2]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [3]
                        product_id
                            value: 6
                        description
                            value: Curry Chicken
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
    [9]
        customer_id
            value: 6782
        first_name
            value: Lyndsay
        last_name
            value: Iuorio
        first_last_name
            value: Lyndsay Iuorio
        last_first_name
            value: Iuorio, Lyndsay
        street
            value: 4 Thackeray Road
        city
            value: Walnut Creek
        state
            value: CA
        zip
            value: 94596
        population
            value: 20822
        area
            value: 6.1908
        density
            value: 3363.36
        closest_store_id
            value: 1
        distance
            value: 12
        sales
            [0]
                receipt_number
                    value: 001-000250031
                sale_date
                    value: 2020-08-23
                sub_total
                    value: 24
                tax
                    value: 0
                total_amount
                    value: 24
                store
                    store_id
                        value: 1
                    street
                        value: 3000 Telegraph Ave
                    city
                        value: Berkeley
                    state
                        value: CA
                    zip
                        value: 94705
                    latitude
                        value: 37.8555
                    longitude
                        value: -122.2604
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
    [10]
        customer_id
            value: 9046
        first_name
            value: Beth
        last_name
            value: Scotchmor
        first_last_name
            value: Beth Scotchmor
        last_first_name
            value: Scotchmor, Beth
        street
            value: 6070 Merchant Park
        city
            value: Seattle
        state
            value: WA
        zip
            value: 98112
        population
            value: 25426
        area
            value: 3.8124
        density
            value: 6669.22
        closest_store_id
            value: 2
        distance
            value: 2
        sales
            [0]
                receipt_number
                    value: 002-000144107
                sale_date
                    value: 2020-06-06
                sub_total
                    value: 96
                tax
                    value: 0
                total_amount
                    value: 96
                store
                    store_id
                        value: 2
                    street
                        value: 1001 Broadway
                    city
                        value: Seattle
                    state
                        value: WA
                    zip
                        value: 98122
                    latitude
                        value: 47.6114
                    longitude
                        value: -122.3214
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [1]
                        product_id
                            value: 2
                        description
                            value: Teriyaki Chicken
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [2]
                        product_id
                            value: 3
                        description
                            value: Spinach Orzo
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [3]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [4]
                        product_id
                            value: 6
                        description
                            value: Curry Chicken
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [5]
                        product_id
                            value: 7
                        description
                            value: Tilapia Piccata
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
    [11]
        customer_id
            value: 9189
        first_name
            value: Cornell
        last_name
            value: Brammar
        first_last_name
            value: Cornell Brammar
        last_first_name
            value: Brammar, Cornell
        street
            value: 94261 Sunnyside Junction
        city
            value: Seattle
        state
            value: WA
        zip
            value: 98112
        population
            value: 25426
        area
            value: 3.8124
        density
            value: 6669.22
        closest_store_id
            value: 2
        distance
            value: 2
        sales
            [0]
                receipt_number
                    value: 002-000158290
                sale_date
                    value: 2020-06-20
                sub_total
                    value: 84
                tax
                    value: 0
                total_amount
                    value: 84
                store
                    store_id
                        value: 2
                    street
                        value: 1001 Broadway
                    city
                        value: Seattle
                    state
                        value: WA
                    zip
                        value: 98122
                    latitude
                        value: 47.6114
                    longitude
                        value: -122.3214
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [1]
                        product_id
                            value: 3
                        description
                            value: Spinach Orzo
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [2]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [3]
                        product_id
                            value: 6
                        description
                            value: Curry Chicken
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
    [12]
        customer_id
            value: 9298
        first_name
            value: Cecilla
        last_name
            value: Lewry
        first_last_name
            value: Cecilla Lewry
        last_first_name
            value: Lewry, Cecilla
        street
            value: 987 Kim Terrace
        city
            value: Seattle
        state
            value: WA
        zip
            value: 98144
        population
            value: 31845
        area
            value: 4.0261
        density
            value: 7909.57
        closest_store_id
            value: 2
        distance
            value: 2
        sales
            [0]
                receipt_number
                    value: 002-000115912
                sale_date
                    value: 2020-05-04
                sub_total
                    value: 48
                tax
                    value: 0
                total_amount
                    value: 48
                store
                    store_id
                        value: 2
                    street
                        value: 1001 Broadway
                    city
                        value: Seattle
                    state
                        value: WA
                    zip
                        value: 98122
                    latitude
                        value: 47.6114
                    longitude
                        value: -122.3214
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 1

            value: Sheffield Dunkerton
        last_first_name
            value: Dunkerton, Sheffield
        street
            value: 11 Quincy Parkway
        city
            value: Dallas
        state
            value: TX
        zip
            value: 75225
        population
            value: 21296
        area
            value: 4.8118
        density
            value: 4425.77
        closest_store_id
            value: 3
        distance
            value: 5
        sales
            [0]
                receipt_number
                    value: 003-000154102
                sale_date
                    value: 2020-07-10
                sub_total
                    value: 24
                tax
                    value: 0
                total_amount
                    value: 24
                store
                    store_id
                        value: 3
                    street
                        value: 2510 McKinney Ave
                    city
                        value: Dallas
                    state
                        value: TX
                    zip
                        value: 75201
                    latitude
                        value: 32.7958
                    longitude
                        value: -96.8015
                line_items
                    [0]
                        product_id
                            value: 2
                        description
                            value: Teriyaki Chicken
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 7
                        description
                            value: Tilapia Piccata
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
    [27]
        customer_id
            value: 19226
        first_name
            value: Christin
        last_name
            value: Penny
        first_last_name
            value: Christin Penny
        last_first_name
            value: Penny, Christin
        street
            value: 3452 Muir Hill
        city
            value: Dallas
        state
            value: TX
        zip
            value: 75238
        population
            value: 33220
        area
            value: 7.1671
        density
            value: 4635.04
        closest_store_id
            value: 3
        distance
            value: 8
        sales
            [0]
                receipt_number
                    value: 003-000186881
                sale_date
                    value: 2020-08-16
                sub_total
                    value: 144
                tax
                    value: 0
                total_amount
                    value: 144
                store
                    store_id
                        value: 3
                    street
                        value: 2510 McKinney Ave
                    city
                        value: Dallas
                    state
                        value: TX
                    zip
                        value: 75201
                    latitude
                        value: 32.7958
                    longitude
                        value: -96.8015
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 4
                        line_total
                            value: 48
                    [1]
                        product_id
                            value: 2
                        description
                            value: Teriyaki Chicken
                        price
                            value: 12
                        quantity
                            value: 3
                        line_total
                            value: 36
                    [2]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [3]
                        product_id
                            value: 6
                        description
                            value: Curry Chicken
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [4]
                        product_id
                            value: 8
                        description
                            value: Brocolli Stir Fry
                        price
                            value: 12
                        quantity
                            value: 3
                        line_total
                            value: 36
    [28]
        customer_id
            value: 19494
        first_name
            value: Brianne
        last_name
            value: Dundendale
        first_last_name
            value: Brianne Dundendale
        last_first_name
            value: Dundendale, Brianne
        street
            value: 7 Mcbride Center
        city
            value: Dallas
        state
            value: TX
        zip
            value: 75240
        population
            value: 28537
        area
            value: 4.4303
        density
            value: 6441.3
        closest_store_id
            value: 3
        distance
            value: 9
        sales
            [0]
                receipt_number
                    value: 003-000131547
                sale_date
                    value: 2020-06-10
                sub_total
                    value: 84
                tax
                    value: 0
                total_amount
                    value: 84
                store
                    store_id
                        value: 3
                    street
                        value: 2510 McKinney Ave
                    city
                        value: Dallas
                    state
                        value: TX
                    zip
                        value: 75201
                    latitude
                        value: 32.7958
                    longitude
                        value: -96.8015
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 3
                        line_total
                            value: 36
                    [2]
                        product_id
                            value: 6
                        description
                            value: Curry Chicken
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [3]
                        product_id
                            value: 7
                        description
                            value: Tilapia Piccata
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
    [29]
        customer_id
            value: 19954
        first_name
            value: Merell
        last_name
            value: Cruikshanks
        first_last_name
            value: Merell Cruikshanks
        last_first_name
            value: Cruikshanks, Merell
        street
            value: 5 Armistice Road
        city
            value: Mesquite
        state
            value: TX
        zip
            value: 75150
        population
            value: 62452
        area
            value: 13.574
        density
            value: 4600.86
        closest_store_id
            value: 3
        distance
            value: 10
        sales
            [0]
                receipt_number
                    value: 003-000209184
                sale_date
                    value: 2020-09-13
                sub_total
                    value: 36
                tax
                    value: 0
                total_amount
                    value: 36
                store
                    store_id
                        value: 3
                    street
                        value: 2510 McKinney Ave
                    city
                        value: Dallas
                    state
                        value: TX
                    zip
                        value: 75201
                    latitude
                        value: 32.7958
                    longitude
                        value: -96.8015
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 6
                        description
                            value: Curry Chicken
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [2]
                        product_id
                            value: 8
                        description
                            value: Brocolli Stir Fry
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
    [30]
        customer_id
            value: 22673
        first_name
            value: Sue
        last_name
            value: Delepine
        first_last_name
            value: Sue Delepine
        last_first_name
            value: Delepine, Sue
        street
            value: 117 Hauk Trail
        city
            value: Miami
        state
            value: FL
        zip
            value: 33137
        population
            value: 23965
        area
            value: 2.498
        density
            value: 9593.84
        closest_store_id
            value: 4
        distance
            value: 3
        sales
            [0]
                receipt_number
                    value: 004-000143587
                sale_date
                    value: 2020-07-14
                sub_total
                    value: 60
                tax
                    value: 0
                total_amount
                    value: 60
                store
                    store_id
                        value: 4
                    street
                        value: 299 SE 3rd Ave
                    city
                        value: Miami
                    state
                        value: FL
                    zip
                        value: 33131
                    latitude
                        value: 25.772
                    longitude
                        value: -80.1891
                line_items
                    [0]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [1]
                        product_id
                            value: 6
                        description
                            value: Curry Chicken
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [2]
                        product_id
                            value: 7
                        description
                            value: Tilapia Piccata
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [3]
                        product_id
                            value: 8
                        description
                            value: Brocolli Stir Fry
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
    [31]
        customer_id
            value: 23017
        first_name
            value: Darb
        last_name
            value: Goucher
        first_last_name
            value: Darb Goucher
        last_first_name
            value: Goucher, Darb
        street
            value: 654 Glendale Parkway
        city
            value: Miami
        state
            value: FL
        zip
            value: 33133
        population
            value: 34460
        area
            value: 4.5117
        density
            value: 7637.88
        closest_store_id
            value: 4
        distance
            value: 4
        sales
            [0]
                receipt_number
                    value: 004-000137286
                sale_date
                    value: 2020-07-05
                sub_total
                    value: 24
                tax
                    value: 0
                total_amount
                    value: 24
                store
                    store_id
                        value: 4
                    street
                        value: 299 SE 3rd Ave
                    city
                        value: Miami
                    state
                        value: FL
                    zip
                        value: 33131
                    latitude
                        value: 25.772
                    longitude
                        value: -80.1891
                line_items
                    [0]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 5
                        description
                            value: Chicken Salad
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
    [32]
        customer_id
            value: 23319
        first_name
            value: Brnaba
        last_name
            value: Challicombe
        first_last_name
            value: Brnaba Challicombe
        last_first_name
            value: Challicombe, Brnaba
        street
            value: 22008 Jay Circle
        city
            value: Miami
        state
            value: FL
        zip
            value: 33142
        population
            value: 58574
        area
            value: 7.8803
        density
            value: 7433.01
        closest_store_id
            value: 4
        distance
            value: 4
        sales
            [0]
                receipt_number
                    value: 004-000177233
                sale_date
                    value: 2020-08-26
                sub_total
                    value: 60
                tax
                    value: 0
                total_amount
                    value: 60
                store
                    store_id
                        value: 4

                    street
                        value: 299 SE 3rd Ave
                    city
                        value: Miami
                    state
                        value: FL
                    zip
                        value: 33131
                    latitude
                        value: 25.772
                    longitude
                        value: -80.1891
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 2
                        description
                            value: Teriyaki Chicken
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [2]
                        product_id
                            value: 3
                        description
                            value: Spinach Orzo
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [3]
                        product_id
                            value: 8
                        description
                            value: Brocolli Stir Fry
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
    [33]
        customer_id
            value: 23347
        first_name
            value: Royce
        last_name
            value: Fielders
        first_last_name
            value: Royce Fielders
        last_first_name
            value: Fielders, Royce
        street
            value: 8 Hermina Parkway
        city
            value: Key Biscayne
        state
            value: FL
        zip
            value: 33149
        population
            value: 13054
        area
            value: 4.9613
        density
            value: 2631.17
        closest_store_id
            value: 4
        distance
            value: 4
        sales
            [0]
                receipt_number
                    value: 004-000138546
                sale_date
                    value: 2020-07-08
                sub_total
                    value: 96
                tax
                    value: 0
                total_amount
                    value: 96
                store
                    store_id
                        value: 4
                    street
                        value: 299 SE 3rd Ave
                    city
                        value: Miami
                    state
                        value: FL
                    zip
                        value: 33131
                    latitude
                        value: 25.772
                    longitude
                        value: -80.1891
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [1]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [2]
                        product_id
                            value: 5
                        description
                            value: Chicken Salad
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [3]
                        product_id
                            value: 7
                        description
                            value: Tilapia Piccata
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [4]
                        product_id
                            value: 8
                        description
                            value: Brocolli Stir Fry
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
    [34]
        customer_id
            value: 23902
        first_name
            value: Joice
        last_name
            value: Chidgey
        first_last_name
            value: Joice Chidgey
        last_first_name
            value: Chidgey, Joice
        street
            value: 7996 Loeprich Alley
        city
            value: Miami
        state
            value: FL
        zip
            value: 33138
        population
            value: 29867
        area
            value: 4.5688
        density
            value: 6537.13
        closest_store_id
            value: 4
        distance
            value: 6
        sales
            [0]
                receipt_number
                    value: 004-000089887
                sale_date
                    value: 2020-04-30
                sub_total
                    value: 48
                tax
                    value: 0
                total_amount
                    value: 48
                store
                    store_id
                        value: 4
                    street
                        value: 299 SE 3rd Ave
                    city
                        value: Miami
                    state
                        value: FL
                    zip
                        value: 33131
                    latitude
                        value: 25.772
                    longitude
                        value: -80.1891
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 2
                        description
                            value: Teriyaki Chicken
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [2]
                        product_id
                            value: 3
                        description
                            value: Spinach Orzo
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [3]
                        product_id
                            value: 8
                        description
                            value: Brocolli Stir Fry
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
    [35]
        customer_id
            value: 24014
        first_name
            value: Michale
        last_name
            value: Caudle
        first_last_name
            value: Michale Caudle
        last_first_name
            value: Caudle, Michale
        street
            value: 322 Washington Parkway
        city
            value: Miami Beach
        state
            value: FL
        zip
            value: 33141
        population
            value: 40005
        area
            value: 2.6363
        density
            value: 15174.75
        closest_store_id
            value: 4
        distance
            value: 6
        sales
            [0]
                receipt_number
                    value: 004-000177033
                sale_date
                    value: 2020-08-25
                sub_total
                    value: 48
                tax
                    value: 0
                total_amount
                    value: 48
                store
                    store_id
                        value: 4
                    street
                        value: 299 SE 3rd Ave
                    city
                        value: Miami
                    state
                        value: FL
                    zip
                        value: 33131
                    latitude
                        value: 25.772
                    longitude
                        value: -80.1891
                line_items
                    [0]
                        product_id
                            value: 3
                        description
                            value: Spinach Orzo
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 6
                        description
                            value: Curry Chicken
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [2]
                        product_id
                            value: 7
                        description
                            value: Tilapia Piccata
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
    [36]
        customer_id
            value: 25267
        first_name
            value: Tobin
        last_name
            value: Pude
        first_last_name
            value: Tobin Pude
        last_first_name
            value: Pude, Tobin
        street
            value: 70078 Porter Court
        city
            value: Miami
        state
            value: FL
        zip
            value: 33166
        population
            value: 24830
        area
            value: 10.1299
        density
            value: 2451.17
        closest_store_id
            value: 4
        distance
            value: 9
        sales
            [0]
                receipt_number
                    value: 004-000111979
                sale_date
                    value: 2020-05-31
                sub_total
                    value: 108
                tax
                    value: 0
                total_amount
                    value: 108
                store
                    store_id
                        value: 4
                    street
                        value: 299 SE 3rd Ave
                    city
                        value: Miami
                    state
                        value: FL
                    zip
                        value: 33131
                    latitude
                        value: 25.772
                    longitude
                        value: -80.1891
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [1]
                        product_id
                            value: 2
                        description
                            value: Teriyaki Chicken
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [2]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [3]
                        product_id
                            value: 6
                        description
                            value: Curry Chicken
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [4]
                        product_id
                            value: 8
                        description
                            value: Brocolli Stir Fry
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
    [37]
        customer_id
            value: 25339
        first_name
            value: Lucilia
        last_name
            value: Logg
        first_last_name
            value: Lucilia Logg
        last_first_name
            value: Logg, Lucilia
        street
            value: 62940 Towne Terrace
        city
            value: Miami
        state
            value: FL
        zip
            value: 33166
        population
            value: 24830
        area
            value: 10.1299
        density
            value: 2451.17
        closest_store_id
            value: 4
        distance
            value: 9
        sales
            [0]
                receipt_number
                    value: 004-000115633
                sale_date
                    value: 2020-06-05
                sub_total
                    value: 120
                tax
                    value: 0
                total_amount
                    value: 120
                store
                    store_id
                        value: 4
                    street
                        value: 299 SE 3rd Ave
                    city
                        value: Miami
                    state
                        value: FL
                    zip
                        value: 33131
                    latitude
                        value: 25.772
                    longitude
                        value: -80.1891
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 2
                        description
                            value: Teriyaki Chicken
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [2]
                        product_id
                            value: 3
                        description
                            value: Spinach Orzo
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [3]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 4
                        line_total
                            value: 48
                    [4]
                        product_id
                            value: 6
                        description
                            value: Curry Chicken
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
    [38]
        customer_id
            value: 26882
        first_name
            value: Billy
        last_name
            value: Cattini
        first_last_name
            value: Billy Cattini
        last_first_name
            value: Cattini, Billy
        street
            value: 6858 Burning Wood Avenue
        city
            value: Miami
        state
            value: FL
        zip
            value: 33175
        population
            value: 55334
        area
            value: 7.9957
        density
            value: 6920.45
        closest_store_id
            value: 4
        distance
            value: 14
        sales
            [0]
                receipt_number
                    value: 004-000183530
                sale_date
                    value: 2020-09-02
                sub_total
                    value: 144
                tax
                    value: 0
                total_amount
                    value: 144
                store
                    store_id
                        value: 4
                    street
                        value: 299 SE 3rd Ave
                    city
                        value: Miami
                    state
                        value: FL
                    zip
                        value: 33131
                    latitude
                        value: 25.772
                    longitude
                        value: -80.1891
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 2

        area
            value: 9.0824
        density
            value: 1626.0
        closest_store_id
            value: 5
        distance
            value: 4
        sales
            [0]
                receipt_number
                    value: 005-000109305
                sale_date
                    value: 2020-06-27
                sub_total
                    value: 120
                tax
                    value: 0
                total_amount
                    value: 120
                store
                    store_id
                        value: 5
                    street
                        value: 1202 Broadway
                    city
                        value: Nashville
                    state
                        value: TN
                    zip
                        value: 37203
                    latitude
                        value: 36.1568
                    longitude
                        value: -86.7881
                line_items
                    [0]
                        product_id
                            value: 2
                        description
                            value: Teriyaki Chicken
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [1]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [2]
                        product_id
                            value: 6
                        description
                            value: Curry Chicken
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [3]
                        product_id
                            value: 7
                        description
                            value: Tilapia Piccata
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
                    [4]
                        product_id
                            value: 8
                        description
                            value: Brocolli Stir Fry
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
    [45]
        customer_id
            value: 28750
        first_name
            value: Jareb
        last_name
            value: Girt
        first_last_name
            value: Jareb Girt
        last_first_name
            value: Girt, Jareb
        street
            value: 316 Saint Paul Point
        city
            value: Nashville
        state
            value: TN
        zip
            value: 37207
        population
            value: 38583
        area
            value: 21.0142
        density
            value: 1836.04
        closest_store_id
            value: 5
        distance
            value: 5
        sales
            [0]
                receipt_number
                    value: 005-000126722
                sale_date
                    value: 2020-07-26
                sub_total
                    value: 36
                tax
                    value: 0
                total_amount
                    value: 36
                store
                    store_id
                        value: 5
                    street
                        value: 1202 Broadway
                    city
                        value: Nashville
                    state
                        value: TN
                    zip
                        value: 37203
                    latitude
                        value: 36.1568
                    longitude
                        value: -86.7881
                line_items
                    [0]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 6
                        description
                            value: Curry Chicken
                        price
                            value: 12
                        quantity
                            value: 2
                        line_total
                            value: 24
    [46]
        customer_id
            value: 29285
        first_name
            value: Ezmeralda
        last_name
            value: McCreadie
        first_last_name
            value: Ezmeralda McCreadie
        last_first_name
            value: McCreadie, Ezmeralda
        street
            value: 30 Gulseth Terrace
        city
            value: Nashville
        state
            value: TN
        zip
            value: 37215
        population
            value: 22414
        area
            value: 16.5186
        density
            value: 1356.9
        closest_store_id
            value: 5
        distance
            value: 6
        sales
            [0]
                receipt_number
                    value: 005-000104373
                sale_date
                    value: 2020-06-18
                sub_total
                    value: 48
                tax
                    value: 0
                total_amount
                    value: 48
                store
                    store_id
                        value: 5
                    street
                        value: 1202 Broadway
                    city
                        value: Nashville
                    state
                        value: TN
                    zip
                        value: 37203
                    latitude
                        value: 36.1568
                    longitude
                        value: -86.7881
                line_items
                    [0]
                        product_id
                            value: 6
                        description
                            value: Curry Chicken
                        price
                            value: 12
                        quantity
                            value: 3
                        line_total
                            value: 36
                    [1]
                        product_id
                            value: 7
                        description
                            value: Tilapia Piccata
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
    [47]
        customer_id
            value: 29783
        first_name
            value: Nobie
        last_name
            value: Nuemann
        first_last_name
            value: Nobie Nuemann
        last_first_name
            value: Nuemann, Nobie
        street
            value: 955 Beilfuss Place
        city
            value: Madison
        state
            value: TN
        zip
            value: 37115
        population
            value: 40484
        area
            value: 23.0954
        density
            value: 1752.9
        closest_store_id
            value: 5
        distance
            value: 8
        sales
            [0]
                receipt_number
                    value: 005-000105691
                sale_date
                    value: 2020-06-20
                sub_total
                    value: 24
                tax
                    value: 0
                total_amount
                    value: 24
                store
                    store_id
                        value: 5
                    street
                        value: 1202 Broadway
                    city
                        value: Nashville
                    state
                        value: TN
                    zip
                        value: 37203
                    latitude
                        value: 36.1568
                    longitude
                        value: -86.7881
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 2
                        description
                            value: Teriyaki Chicken
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
    [48]
        customer_id
            value: 29922
        first_name
            value: Garwin
        last_name
            value: Aleksankin
        first_last_name
            value: Garwin Aleksankin
        last_first_name
            value: Aleksankin, Garwin
        street
            value: 7 Delaware Place
        city
            value: Madison
        state
            value: TN
        zip
            value: 37115
        population
            value: 40484
        area
            value: 23.0954
        density
            value: 1752.9
        closest_store_id
            value: 5
        distance
            value: 8
        sales
            [0]
                receipt_number
                    value: 005-000107715
                sale_date
                    value: 2020-06-24
                sub_total
                    value: 36
                tax
                    value: 0
                total_amount
                    value: 36
                store
                    store_id
                        value: 5
                    street
                        value: 1202 Broadway
                    city
                        value: Nashville
                    state
                        value: TN
                    zip
                        value: 37203
                    latitude
                        value: 36.1568
                    longitude
                        value: -86.7881
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 2
                        description
                            value: Teriyaki Chicken
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [2]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
    [49]
        customer_id
            value: 30184
        first_name
            value: Mindy
        last_name
            value: Bockh
        first_last_name
            value: Mindy Bockh
        last_first_name
            value: Bockh, Mindy
        street
            value: 50432 Sachs Road
        city
            value: Brentwood
        state
            value: TN
        zip
            value: 37027
        population
            value: 55130
        area
            value: 61.7696
        density
            value: 892.51
        closest_store_id
            value: 5
        distance
            value: 11
        sales
            [0]
                receipt_number
                    value: 005-000136553
                sale_date
                    value: 2020-08-09
                sub_total
                    value: 36
                tax
                    value: 0
                total_amount
                    value: 36
                store
                    store_id
                        value: 5
                    street
                        value: 1202 Broadway
                    city
                        value: Nashville
                    state
                        value: TN
                    zip
                        value: 37203
                    latitude
                        value: 36.1568
                    longitude
                        value: -86.7881
                line_items
                    [0]
                        product_id
                            value: 1
                        description
                            value: Pistachio Salmon
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [1]
                        product_id
                            value: 4
                        description
                            value: Eggplant Lasagna
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12
                    [2]
                        product_id
                            value: 6
                        description
                            value: Curry Chicken
                        price
                            value: 12
                        quantity
                            value: 1
                        line_total
                            value: 12

# Lab: Creating Staging Tables, Loading Raw Data into Staging Tables

In [13]:
connection.rollback()

query = """

drop table if exists stage_1_customers;
drop table if exists stage_1_sales;
drop table if exists stage_1_line_items;



"""

cursor.execute(query)

connection.commit()

## Using varchar(100) for all columns so data out of format will load so we can clean it

In [14]:
#
# create staging tables with all varchar(100)
#

connection.rollback()

query = """


create table stage_1_customers (
  stage_id serial,
  customer_id varchar(100),
  first_name varchar(100),
  last_name varchar(100),
  street varchar(100),
  city varchar(100),
  state varchar(100),
  zip varchar(100),
  closest_store_id varchar(100),
  distance varchar(100)
);

create table stage_1_sales (
  stage_id serial,
  store_id varchar(100),
  sale_id varchar(100),
  customer_id varchar(100),
  sale_date varchar(100),
  total_amount varchar(100)
);

create table stage_1_line_items (
  stage_id serial,
  store_id varchar(100),
  sale_id varchar(100),
  line_item_id varchar(100),
  product_id varchar(100),
  quantity varchar(100)
);

"""

cursor.execute(query)

connection.commit()

In [15]:
connection.rollback()

query = """

copy stage_1_customers (customer_id, first_name, last_name, street, city, state, zip, closest_store_id, distance)
from '/user/labs/week_07/clean_data/clean_customers.csv' delimiter ',' NULL '' csv header;

"""

cursor.execute(query)

connection.commit()

In [16]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select * 
from stage_1_customers
order by stage_id;

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

,stage_id,customer_id,first_name,last_name,street,city,state,zip,closest_store_id,distance
0,1,563,Rose,Slimings,38 Iowa Street,Berkeley,CA,94704,1,1
1,2,1597,Norry,Macauley,654 Sommers Plaza,Oakland,CA,94612,1,3
2,3,1958,Theresina,Penswick,5975 Twin Pines Hill,Berkeley,CA,94707,1,3
3,4,1991,Kevon,Wickett,472 Arizona Court,Berkeley,CA,94707,1,3
4,5,3491,Siouxie,M'Quharge,747 Westridge Center,Alameda,CA,94501,1,6
5,6,4159,Cheryl,Broe,7 Ruskin Alley,El Sobrante,CA,94803,1,7
6,7,4198,Andreana,Drew,11039 Cordelia Alley,El Sobrante,CA,94803,1,7
7,8,4260,Dom,Risbrough,3 Northland Crossing,Richmond,CA,94805,1,7
8,9,5394,Katharina,Bavester,522 Cordelia Lane,San Francisco,CA,94102,1,10
9,10,6782,Lyndsay,Iuorio,4 Thackeray Road,Walnut Creek,CA,94596,1,12
10,11,9046,Beth,Scotchmor,6070 Merchant Park,Seattle,WA,98112,2,2
11,12,9189,Cornell,Brammar,94261 Sunnyside Junction,Seattle,WA,98112,2,2
12,13,9298,Cecilla,Lewry,987 Kim Terrace,Seattle,WA,98144,2,2
13,14,9528,Markos,Toderi,6434 Mallard Way,Seattle,WA,98119,2,3
14,15,10295,Debby,Leber,1660 Bluejay Circle,Mercer Island,WA,98040,2,5
15,16,11291,Dasi,Radden,18 Hoepker Court,Seattle,WA,98136,2,6
16,17,11779,Emlynne,Takle,1 Johnson Park,Seattle,WA,98125,2,7
17,18,12160,Sim,Dorie,6709 Bayside Hill,Seattle,WA,98146,2,8
18,19,12493,Lula,Stoneman,2 Gateway Center,Kirkland,WA,98034,2,9
19,20,14460,Shannon,Morrall,12076 Lotheville Circle,Port Orchard,WA,98366,2,13
20,21,15481,Raquel,Ansill,57 Fordem Circle,Dallas,TX,75201,3,1
21,22,15710,Ted,Campany,91111 West Road,Dallas,TX,75219,3,1
22,23,15799,Zackariah,McCreath,64828 Farwell Terrace,Dallas,TX,75219,3,1
23,24,16476,Yancey,Lamyman,3078 Emmet Junction,Dallas,TX,75206,3,3
24,25,16932,Betta,Swatland,7060 Merchant Pass,Dallas,TX,75210,3,4
25,26,17003,Pryce,Slafford,172 Bunker Hill Drive,Dallas,TX,75210,3,4
26,27,17711,Sheffield,Dunkerton,11 Quincy Parkway,Dallas,TX,75225,3,5
27,28,19226,Christin,Penny,3452 Muir Hill,Dallas,TX,75238,3,8
28,29,19494,Brianne,Dundendale,7 Mcbride Center,Dallas,TX,75240,3,9
29,30,19954,Merell,Cruikshanks,5 Armistice Road,Mesquite,TX,75150,3,10
30,31,22673,Sue,Delepine,117 Hauk Trail,Miami,FL,33137,4,3
31,32,23017,Darb,Goucher,654 Glendale Parkway,Miami,FL,33133,4,4
32,33,23319,Brnaba,Challicombe,22008 Jay Circle,Miami,FL,33142,4,4
33,34,23347,Royce,Fielders,8 Hermina Parkway,Key Biscayne,FL,33149,4,4
34,35,23902,Joice,Chidgey,7996 Loeprich Alley,Miami,FL,33138,4,6
35,36,24014,Michale,Caudle,322 Washington Parkway,Miami Beach,FL,33141,4,6
36,37,25267,Tobin,Pude,70078 Porter Court,Miami,FL,33166,4,9
37,38,25339,Lucilia,Logg,62940 Towne Terrace,Miami,FL,33166,4,9
38,39,26882,Billy,Cattini,6858 Burning Wood Avenue,Miami,FL,33175,4,14
39,40,27380,Juliette,Simoncello,485 Hazelcrest Alley,Fort Lauderdale,FL,33312,4,22
40,41,27654,Nestor,Winfred,593 American Ash Hill,Nashville,TN,37208,5,2
41,42,27728,Gus,Haliburton,11 Sommers Crossing,Nashville,TN,37208,5,2
42,43,27926,Kerrin,Bridel,4582 Roth Street,Nashville,TN,37212,5,2
43,44,27997,Meagan,Gussin,73526 2nd Terrace,Nashville,TN,37212,5,2
44,45,28267,Frederica,Cabrer,99 Rutledge Trail,Nashville,TN,37204,5,4
45,46,28750,Jareb,Girt,316 Saint Paul Point,Nashville,TN,37207,5,5
46,47,29285,Ezmeralda,McCreadie,30 Gulseth Terrace,Nashville,TN,37215,5,6
47,48,29783,Nobie,Nuemann,955 Beilfuss Place,Madison,TN,37115,5,8
48,49,29922,Garwin,Aleksankin,7 Delaware Place,Madison,TN,37115,5,8
49,50,30184,Mindy,Bockh,50432 Sachs Road,Brentwood,TN,37027,5,11

## You try it - load the stage_1_sales table from the csv file clean_sales.csv;  load the stage_1_line_items table from the csv file clean_line_items.csv; verify each with a query

In [17]:
connection.rollback()

query = """

copy stage_1_sales (store_id,sale_id,customer_id,sale_date,total_amount)
from '/user/labs/week_07/clean_data/clean_sales.csv' delimiter ',' NULL '' csv header;

copy stage_1_line_items (store_id,sale_id,line_item_id,product_id,quantity)
from '/user/labs/week_07/clean_data/clean_line_items.csv' delimiter ',' NULL '' csv header;

"""

cursor.execute(query)

connection.commit()

In [18]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select * 
from stage_1_sales
order by stage_id;

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

    stage_id store_id sale_id customer_id   sale_date total_amount
0          1        1  128112        3491  2020-04-30           24
1          2        1  144249        1597  2020-05-16           84
2          3        1  163141        4159  2020-06-04           96
3          4        1  169216        4198  2020-06-09          144
4          5        1  179181        5394  2020-06-18           48
5          6        1  181897        1958  2020-06-20           48
6          7        1  248269        4260  2020-08-22           60
7          8        1  250031        6782  2020-08-23           24
8          9        1  255285         563  2020-08-29           36
9         10        1  263524        1991  2020-09-07           48
10        11        2  105004       12160  2020-04-23           36
11        12        2  109083       11291  2020-04-27          132
12        13        2  115446       11779  2020-05-03           12
13        14        2  115912        9298  2020-05-04           48
14        15        2  119996       14460  2020-05-08           36
15        16        2  144107        9046  2020-06-06           96
16        17        2  158290        9189  2020-06-20           84
17        18        2  203726       12493  2020-08-08          132
18        19        2  217889       10295  2020-08-23           24
19        20        2  218323        9528  2020-08-23           48
20        21        3   99402       17003  2020-05-01           36
21        22        3  131547       19494  2020-06-10           84
22        23        3  131827       15481  2020-06-11          108
23        24        3  134868       16476  2020-06-14           48
24        25        3  154102       17711  2020-07-10           24
25        26        3  164376       15799  2020-07-22          108
26        27        3  177427       16932  2020-08-06           24
27        28        3  183488       15710  2020-08-13           12
28        29        3  186881       19226  2020-08-16          144
29        30        3  209184       19954  2020-09-13           36
30        31        4   89887       23902  2020-04-30           48
31        32        4  111979       25267  2020-05-31          108
32        33        4  115633       25339  2020-06-05          120
33        34        4  137286       23017  2020-07-05           24
34        35        4  138546       23347  2020-07-08           96
35        36        4  143587       22673  2020-07-14           60
36        37        4  177033       24014  2020-08-25           48
37        38        4  177233       23319  2020-08-26           60
38        39        4  183530       26882  2020-09-02          144
39        40        4  192337       27380  2020-09-16           96
40        41        5   88989       27926  2020-05-25           24
41        42        5  104373       29285  2020-06-18           48
42        43        5  105691       29783  2020-06-20           24
43        44        5  107715       29922  2020-06-24           36
44        45        5  109305       28267  2020-06-27          120
45        46        5  126722       28750  2020-07-26           36
46        47        5  136553       30184  2020-08-09           36
47        48        5  136735       27728  2020-08-10           96
48        49        5  147541       27654  2020-08-27           96
49        50        5  157919       27997  2020-09-14           48

In [19]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select * 
from stage_1_line_items
order by stage_id;

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

     stage_id store_id sale_id line_item_id product_id quantity
0           1        1  128112            1          1        1
1           2        1  128112            2          8        1
2           3        1  144249            1          1        1
3           4        1  144249            2          2        1
4           5        1  144249            3          4        2
..        ...      ...     ...          ...        ...      ...
171       172        5  147541            4          4        1
172       173        5  147541            5          7        1
173       174        5  157919            1          1        1
174       175        5  157919            2          4        2
175       176        5  157919            3          7        1

[176 rows x 6 columns]

# Lab: Raw Data Exploration Using Staging Tables

## Given a table, query the column names;  for each column, find max length, min length, max value, min value, how distinct is the column; etc;

In [20]:
def my_explore_staging_table(table_name):
    "given a table name, explore it"
    
    print("\n---------------------------------------------------")
    print("Exploring Columns for Table:", table_name)
    print("---------------------------------------------------\n")
    
    rollback_before_flag = True
    rollback_after_flag = True
    
    connection.rollback()
    
    query = "select * from " + table_name + " where 0 = 1;" #provide column list
    
    cursor.execute(query)

    connection.rollback()    

    column_list = [d[0] for d in cursor.description]
    
    for column_name in column_list:
        
        if column_name == "stage_id":
            continue;
        
        print("---------------------------------------------------")
        print("Column:", column_name)
        print("---------------------------------------------------")

        
        query = "select min(length(" + column_name + ")) as min_length, "
        query += " max(length(" + column_name + ")) as max_length, "
        query += " count(*) as total_rows, "
        query += " count(distinct " + column_name + ") as total_distinct_values"
        query += " from " + table_name + ";"
        
        df = my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)
        
        display(HTML(df.to_html()))
        
        query = "select " + column_name + ", count(*) from " + table_name 
        query += " group by " + column_name + " order by 2 desc limit 10;"
        
        df = my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)
        
        display(HTML(df.to_html()))

In [21]:
my_explore_staging_table("stage_1_customers")

---------------------------------------------------
Exploring Columns for Table: stage_1_customers
---------------------------------------------------

---------------------------------------------------
Column: customer_id
---------------------------------------------------

---------------------------------------------------
Column: first_name
---------------------------------------------------

---------------------------------------------------
Column: last_name
---------------------------------------------------

---------------------------------------------------
Column: street
---------------------------------------------------

---------------------------------------------------
Column: city
---------------------------------------------------

---------------------------------------------------
Column: state
---------------------------------------------------

---------------------------------------------------
Column: zip
---------------------------------------------------

---------------------------------------------------
Column: closest_store_id
---------------------------------------------------

---------------------------------------------------
Column: distance
---------------------------------------------------

## In the coming labs for this week, we will do further exploration to clean the data as we go

## You try it - using the above function my_explore_staging_table(), explore the tables stage_1_sales and stage_1_line_items

In [22]:
my_explore_staging_table("stage_1_sales")

---------------------------------------------------
Exploring Columns for Table: stage_1_sales
---------------------------------------------------

---------------------------------------------------
Column: store_id
---------------------------------------------------

---------------------------------------------------
Column: sale_id
---------------------------------------------------

---------------------------------------------------
Column: customer_id
---------------------------------------------------

---------------------------------------------------
Column: sale_date
---------------------------------------------------

---------------------------------------------------
Column: total_amount
---------------------------------------------------

In [23]:
my_explore_staging_table("stage_1_line_items")

---------------------------------------------------
Exploring Columns for Table: stage_1_line_items
---------------------------------------------------

---------------------------------------------------
Column: store_id
---------------------------------------------------

---------------------------------------------------
Column: sale_id
---------------------------------------------------

---------------------------------------------------
Column: line_item_id
---------------------------------------------------

---------------------------------------------------
Column: product_id
---------------------------------------------------

---------------------------------------------------
Column: quantity
---------------------------------------------------

# Lab: Transforming Data by Parsing, Joining, Augmenting, Consolidating, and Filtering

## In our extractions so far, we have seen examples of Parsing, Joining, Augmenting, Consolidating, and Filtering:

## Parsing

* created a receipt_id from store_id and sale_id
* extracting the date to a dow number
* extracting the date to a day of week string
* extracting the date to a month string
* creating first and last name in the same column, also with last name first

## Joining

* joining the stores table to the sales table
* joining the sales table to the customers table
* joining the sales table to the line items table
* joining the line items table to the products table

## Augmenting (joining to a table in a secondary dataset)

* joining the zip in customer table to the secondary dataset table zip_codes to pull the population, area, and density

## Consolidating (Aggregation)

* number of rows in a table
* number of disctince rows in a table
* max value of a column
* min value of a column
* average value of a column

## Filtering

* where clauses (pre-aggregation)
* having clauses (post-aggregation)

## Once data is clean, we can create another staging table with actual data types and copy

In [24]:
connection.rollback()

query = """

drop table if exists stage_2_customers;
drop table if exists stage_2_sales;
drop table if exists stage_2_line_items;

"""

cursor.execute(query)

connection.commit()

In [25]:
connection.rollback()

query = """


create table stage_2_customers (
  stage_id serial,
  customer_id numeric(6),
  first_name varchar(32),
  last_name varchar(32),
  street varchar(32),
  city varchar(32),
  state varchar(2),
  zip varchar(5),
  closest_store_id numeric(6),
  distance numeric(3)
);

create table stage_2_sales (
  stage_id serial,
  store_id numeric(6),
  sale_id numeric(8),
  customer_id numeric(6),
  sale_date date,
  total_amount numeric(5)
);

create table stage_2_line_items (
  stage_id serial,
  store_id numeric(6),
  sale_id numeric(8),
  line_item_id numeric(3),
  product_id numeric(3),
  quantity numeric(3)
);

"""

cursor.execute(query)

connection.commit()

In [26]:
connection.rollback()

query = """

insert into stage_2_customers
(stage_id, customer_id, first_name, last_name, street, city, state, zip, closest_store_id, distance)
select stage_id,
       customer_id::numeric,
       first_name,
       last_name, 
       street,
       city,
       state,
       zip,
       closest_store_id::numeric,
       distance::numeric
from stage_1_customers
order by stage_id;

"""

cursor.execute(query)

connection.commit()

In [27]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select * 
from stage_2_customers
order by stage_id;

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

,stage_id,customer_id,first_name,last_name,street,city,state,zip,closest_store_id,distance
0,1,563,Rose,Slimings,38 Iowa Street,Berkeley,CA,94704,1,1
1,2,1597,Norry,Macauley,654 Sommers Plaza,Oakland,CA,94612,1,3
2,3,1958,Theresina,Penswick,5975 Twin Pines Hill,Berkeley,CA,94707,1,3
3,4,1991,Kevon,Wickett,472 Arizona Court,Berkeley,CA,94707,1,3
4,5,3491,Siouxie,M'Quharge,747 Westridge Center,Alameda,CA,94501,1,6
5,6,4159,Cheryl,Broe,7 Ruskin Alley,El Sobrante,CA,94803,1,7
6,7,4198,Andreana,Drew,11039 Cordelia Alley,El Sobrante,CA,94803,1,7
7,8,4260,Dom,Risbrough,3 Northland Crossing,Richmond,CA,94805,1,7
8,9,5394,Katharina,Bavester,522 Cordelia Lane,San Francisco,CA,94102,1,10
9,10,6782,Lyndsay,Iuorio,4 Thackeray Road,Walnut Creek,CA,94596,1,12
10,11,9046,Beth,Scotchmor,6070 Merchant Park,Seattle,WA,98112,2,2
11,12,9189,Cornell,Brammar,94261 Sunnyside Junction,Seattle,WA,98112,2,2
12,13,9298,Cecilla,Lewry,987 Kim Terrace,Seattle,WA,98144,2,2
13,14,9528,Markos,Toderi,6434 Mallard Way,Seattle,WA,98119,2,3
14,15,10295,Debby,Leber,1660 Bluejay Circle,Mercer Island,WA,98040,2,5
15,16,11291,Dasi,Radden,18 Hoepker Court,Seattle,WA,98136,2,6
16,17,11779,Emlynne,Takle,1 Johnson Park,Seattle,WA,98125,2,7
17,18,12160,Sim,Dorie,6709 Bayside Hill,Seattle,WA,98146,2,8
18,19,12493,Lula,Stoneman,2 Gateway Center,Kirkland,WA,98034,2,9
19,20,14460,Shannon,Morrall,12076 Lotheville Circle,Port Orchard,WA,98366,2,13
20,21,15481,Raquel,Ansill,57 Fordem Circle,Dallas,TX,75201,3,1
21,22,15710,Ted,Campany,91111 West Road,Dallas,TX,75219,3,1
22,23,15799,Zackariah,McCreath,64828 Farwell Terrace,Dallas,TX,75219,3,1
23,24,16476,Yancey,Lamyman,3078 Emmet Junction,Dallas,TX,75206,3,3
24,25,16932,Betta,Swatland,7060 Merchant Pass,Dallas,TX,75210,3,4
25,26,17003,Pryce,Slafford,172 Bunker Hill Drive,Dallas,TX,75210,3,4
26,27,17711,Sheffield,Dunkerton,11 Quincy Parkway,Dallas,TX,75225,3,5
27,28,19226,Christin,Penny,3452 Muir Hill,Dallas,TX,75238,3,8
28,29,19494,Brianne,Dundendale,7 Mcbride Center,Dallas,TX,75240,3,9
29,30,19954,Merell,Cruikshanks,5 Armistice Road,Mesquite,TX,75150,3,10
30,31,22673,Sue,Delepine,117 Hauk Trail,Miami,FL,33137,4,3
31,32,23017,Darb,Goucher,654 Glendale Parkway,Miami,FL,33133,4,4
32,33,23319,Brnaba,Challicombe,22008 Jay Circle,Miami,FL,33142,4,4
33,34,23347,Royce,Fielders,8 Hermina Parkway,Key Biscayne,FL,33149,4,4
34,35,23902,Joice,Chidgey,7996 Loeprich Alley,Miami,FL,33138,4,6
35,36,24014,Michale,Caudle,322 Washington Parkway,Miami Beach,FL,33141,4,6
36,37,25267,Tobin,Pude,70078 Porter Court,Miami,FL,33166,4,9
37,38,25339,Lucilia,Logg,62940 Towne Terrace,Miami,FL,33166,4,9
38,39,26882,Billy,Cattini,6858 Burning Wood Avenue,Miami,FL,33175,4,14
39,40,27380,Juliette,Simoncello,485 Hazelcrest Alley,Fort Lauderdale,FL,33312,4,22
40,41,27654,Nestor,Winfred,593 American Ash Hill,Nashville,TN,37208,5,2
41,42,27728,Gus,Haliburton,11 Sommers Crossing,Nashville,TN,37208,5,2
42,43,27926,Kerrin,Bridel,4582 Roth Street,Nashville,TN,37212,5,2
43,44,27997,Meagan,Gussin,73526 2nd Terrace,Nashville,TN,37212,5,2
44,45,28267,Frederica,Cabrer,99 Rutledge Trail,Nashville,TN,37204,5,4
45,46,28750,Jareb,Girt,316 Saint Paul Point,Nashville,TN,37207,5,5
46,47,29285,Ezmeralda,McCreadie,30 Gulseth Terrace,Nashville,TN,37215,5,6
47,48,29783,Nobie,Nuemann,955 Beilfuss Place,Madison,TN,37115,5,8
48,49,29922,Garwin,Aleksankin,7 Delaware Place,Madison,TN,37115,5,8
49,50,30184,Mindy,Bockh,50432 Sachs Road,Brentwood,TN,37027,5,11

## You try it - copy data from stage_1_sales to stage_2_sales and from stage_1_line_items to stage_2_line_items; query to verify

In [28]:
connection.rollback()

query = """

insert into stage_2_sales
(stage_id, store_id, sale_id, customer_id, sale_date, total_amount)
select stage_id,
       store_id::numeric, 
       sale_id::numeric, 
       customer_id::numeric, 
       sale_date::date, 
       total_amount::numeric
from stage_1_sales
order by stage_id;

"""

cursor.execute(query)

connection.commit()

In [29]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select * 
from stage_2_sales
order by stage_id;

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

    stage_id  store_id  sale_id  customer_id   sale_date  total_amount
0          1         1   128112         3491  2020-04-30            24
1          2         1   144249         1597  2020-05-16            84
2          3         1   163141         4159  2020-06-04            96
3          4         1   169216         4198  2020-06-09           144
4          5         1   179181         5394  2020-06-18            48
5          6         1   181897         1958  2020-06-20            48
6          7         1   248269         4260  2020-08-22            60
7          8         1   250031         6782  2020-08-23            24
8          9         1   255285          563  2020-08-29            36
9         10         1   263524         1991  2020-09-07            48
10        11         2   105004        12160  2020-04-23            36
11        12         2   109083        11291  2020-04-27           132
12        13         2   115446        11779  2020-05-03            12
13        14         2   115912         9298  2020-05-04            48
14        15         2   119996        14460  2020-05-08            36
15        16         2   144107         9046  2020-06-06            96
16        17         2   158290         9189  2020-06-20            84
17        18         2   203726        12493  2020-08-08           132
18        19         2   217889        10295  2020-08-23            24
19        20         2   218323         9528  2020-08-23            48
20        21         3    99402        17003  2020-05-01            36
21        22         3   131547        19494  2020-06-10            84
22        23         3   131827        15481  2020-06-11           108
23        24         3   134868        16476  2020-06-14            48
24        25         3   154102        17711  2020-07-10            24
25        26         3   164376        15799  2020-07-22           108
26        27         3   177427        16932  2020-08-06            24
27        28         3   183488        15710  2020-08-13            12
28        29         3   186881        19226  2020-08-16           144
29        30         3   209184        19954  2020-09-13            36
30        31         4    89887        23902  2020-04-30            48
31        32         4   111979        25267  2020-05-31           108
32        33         4   115633        25339  2020-06-05           120
33        34         4   137286        23017  2020-07-05            24
34        35         4   138546        23347  2020-07-08            96
35        36         4   143587        22673  2020-07-14            60
36        37         4   177033        24014  2020-08-25            48
37        38         4   177233        23319  2020-08-26            60
38        39         4   183530        26882  2020-09-02           144
39        40         4   192337        27380  2020-09-16            96
40        41         5    88989        27926  2020-05-25            24
41        42         5   104373        29285  2020-06-18            48
42        43         5   105691        29783  2020-06-20            24
43        44         5   107715        29922  2020-06-24            36
44        45         5   109305        28267  2020-06-27           120
45        46         5   126722        28750  2020-07-26            36
46        47         5   136553        30184  2020-08-09            36
47        48         5   136735        27728  2020-08-10            96
48        49         5   147541        27654  2020-08-27            96
49        50         5   157919        27997  2020-09-14            48

In [30]:
connection.rollback()

query = """

insert into stage_2_line_items
(stage_id, store_id, sale_id, line_item_id, product_id, quantity)
select stage_id, 
       store_id::numeric, 
       sale_id::numeric, 
       line_item_id::numeric, 
       product_id::numeric, 
       quantity::numeric
from stage_1_line_items
order by stage_id;

"""

cursor.execute(query)

connection.commit()

In [31]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select * 
from stage_2_line_items
order by stage_id;

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

     stage_id  store_id  sale_id  line_item_id  product_id  quantity
0           1         1   128112             1           1         1
1           2         1   128112             2           8         1
2           3         1   144249             1           1         1
3           4         1   144249             2           2         1
4           5         1   144249             3           4         2
..        ...       ...      ...           ...         ...       ...
171       172         5   147541             4           4         1
172       173         5   147541             5           7         1
173       174         5   157919             1           1         1
174       175         5   157919             2           4         2
175       176         5   157919             3           7         1

[176 rows x 6 columns]