# Redis 1

# Lab: Redis

In [1]:
import redis

import json

import pprint

from datetime import timedelta

import time

import numpy as np

## Connect to the redis database; redis the container name is used for the host name; TCP port is 6379; databases are given a integer number instead of a name

In [2]:
cities_db = redis.Redis(host='redis', port=6379, db=0)

## Flush (delete all) from the cities database in case there are key / value pairs left from prior runs

In [3]:
cities_db.flushdb()

True

## Example of key / value pairs where both the key and the value are simple strings; the logic for key / value pairs is basically the same as a Python dictionary:  if the key does not exist, create a new "slot" with the key / value pair, if the key already exists, overwrite the value

In [4]:
cities_db.set("Berkeley", "California")
cities_db.set("Portland", "Oregon")
cities_db.set("Seattle", "Washington")
cities_db.set("Dallas", "Texas")
cities_db.set("Nashville", "Tennessee")
cities_db.set("Chicago", "Illinois")
cities_db.set("Miami", "Florida")

True

In [5]:
cities_db.keys()

[b'Nashville',
 b'Portland',
 b'Dallas',
 b'Miami',
 b'Chicago',
 b'Seattle',
 b'Berkeley']

In [6]:
cities_db.get("Berkeley")

b'California'

In [7]:
for key in cities_db.keys():
    print("key:", key, "value:", cities_db.get(key))

key: b'Nashville' value: b'Tennessee'
key: b'Portland' value: b'Oregon'
key: b'Dallas' value: b'Texas'
key: b'Miami' value: b'Florida'
key: b'Chicago' value: b'Illinois'
key: b'Seattle' value: b'Washington'
key: b'Berkeley' value: b'California'

In [8]:
cities_db.set("Berkeley", "CA") # Overwrite the value if same key exists
cities_db.set("Portland", "OR")
cities_db.set("Seattle", "WA")
cities_db.set("Dallas", "TX")
cities_db.set("Nashville", "TN")
cities_db.set("Chicago", "IL")
cities_db.set("Miami", "FL")

True

In [9]:
for key in cities_db.keys():
    print("key:", key, "value:", cities_db.get(key))

key: b'Nashville' value: b'TN'
key: b'Portland' value: b'OR'
key: b'Dallas' value: b'TX'
key: b'Miami' value: b'FL'
key: b'Chicago' value: b'IL'
key: b'Seattle' value: b'WA'
key: b'Berkeley' value: b'CA'

## If we want to set a lot of values at the same time, we can use a feature called pipelining, which is more efficient than setting them one at a time; not until we execute the pipeline do the changes get made;

In [10]:
cities_pipe = cities_db.pipeline()

cities_list = [["Berkeley", "California"], 
               ["Portland", "Oregon"],
               ["Seattle", "Washington"],
               ["Dallas", "Texas"],
               ["Nashville", "Tennessee"],
               ["Chicago", "Illinois"],
               ["Miami", "Florida"]
              ]

for (city, state) in cities_list:
    cities_pipe.set(city, state)

In [11]:
for key in cities_db.keys():
    print("key:", key, "value:", cities_db.get(key))

key: b'Nashville' value: b'TN'
key: b'Portland' value: b'OR'
key: b'Dallas' value: b'TX'
key: b'Miami' value: b'FL'
key: b'Chicago' value: b'IL'
key: b'Seattle' value: b'WA'
key: b'Berkeley' value: b'CA'

In [12]:
cities_pipe.execute()

[True, True, True, True, True, True, True]

In [13]:
for key in cities_db.keys():
    print("key:", key, "value:", cities_db.get(key))

key: b'Nashville' value: b'Tennessee'
key: b'Portland' value: b'Oregon'
key: b'Dallas' value: b'Texas'
key: b'Miami' value: b'Florida'
key: b'Chicago' value: b'Illinois'
key: b'Seattle' value: b'Washington'
key: b'Berkeley' value: b'California'

## We can put an expirey on a key / value pair;  once the key / value pair expires, it is deleted; there are methods to specify time in milliseconds, seconds, minutes, specific date, time, etc.; set New York for 10 seconds, watch it disappear

In [17]:
cities_db.setex("New York", timedelta(seconds=10), "NY")

True

In [18]:
cities_db.get("New York")

b'NY'

In [22]:
# wait 10 seconds and see it disappear
cities_db.get("New York")

## We are been using simple strings, which are not that useful;  JSON values are much more useful and typical;  create a new database 1 (flush it to clean out from prior runs); load the temp_stores_nested.json using the store_id as the key and the JSON as a string as the value

In [23]:
stores_db = redis.Redis(host='redis', port=6379, db=1)

stores_db.flushdb()

stores_pipe = stores_db.pipeline()

In [24]:
f = open("temp_stores_nested.json")
file_json = json.load(f)
f.close()

stores_json_list = file_json["stores"]

In [25]:
for store in stores_json_list:
    stores_pipe.set(store["store_id"], json.dumps(store))
    
stores_pipe.execute()

[True, True, True, True, True]

In [26]:
# print only the first 90 characters of the JSON object, since they are large

for key in stores_db.keys():
    print("key:", key, "value:", stores_db.get(key)[:90])

key: b'3' value: b'{"store_id": 3, "street": "2510 McKinney Ave", "city": "Dallas", "state": "TX", "zip": "75'
key: b'1' value: b'{"store_id": 1, "street": "3000 Telegraph Ave", "city": "Berkeley", "state": "CA", "zip": '
key: b'5' value: b'{"store_id": 5, "street": "1202 Broadway", "city": "Nashville", "state": "TN", "zip": "372'
key: b'2' value: b'{"store_id": 2, "street": "1001 Broadway", "city": "Seattle", "state": "WA", "zip": "98122'
key: b'4' value: b'{"store_id": 4, "street": "299 SE 3rd Ave", "city": "Miami", "state": "FL", "zip": "33131"'

## Where redis really shines is that it is a scale out, in memory solution;  memory is backed to disk at periodic intervals, which can be changed in the config file;  one great example would be a leader board for a multi-player online game; we will simulate a multi-player game with random scores

In [27]:
games_db = redis.Redis(host='redis', port=6379, db=2)

games_db.flushdb()

game_id = 3874297973

## Run the Jupyter Notebook redis_2 to get the set values (actually you can make several copies of redis_2 and run several at the same time!)

## Infine loop - to stop: menu bar => Kernet => Interrupt

In [28]:
scores = {}

base_score = 0

while (True):
    
    base_score += 50
    
    scores["Alice"] = base_score + np.random.randint(16,20)
    scores["Bob"] = base_score + np.random.randint(16,20)
    scores["Mary"] = base_score + np.random.randint(11,15)
    scores["Jeff"] = base_score + np.random.randint(11,15)
    scores["Roberta"] = base_score + np.random.randint(6,10)
    scores["Trevor"] = base_score + np.random.randint(6,10)
    scores["Wanda"] = base_score + np.random.randint(1,5)
    scores["Walter"] = base_score + np.random.randint(1,5)
    
    games_db.set(game_id, json.dumps(scores))
    
    time.sleep(1.0)

KeyboardInterrupt:

## You try it

## Create database 3 for sales; load the file temp_sales_nested.json into the sales database with the receipt as the key and the JSON as the value

## Create database 4 for customers; load the file temp_customers_nested.json into the customers database with the customer_id as the key and the JSON as the value

In [30]:
sales_db = redis.Redis(host='redis', port=6379, db=3)

sales_db.flushdb()

sales_pipe = sales_db.pipeline()

In [31]:
f2 = open("temp_sales_nested.json")
file_json2 = json.load(f2)
f2.close()

sales_json_list = file_json2["sales"]

In [36]:
for sale in sales_json_list:
    sales_pipe.set(sale["receipt_number"],json.dumps(sale))
    
sales_pipe.execute()

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True]

In [38]:
for key in sales_db.keys():
    print("key:", key, "value:", sales_db.get(key)[:90])

key: b'004-000177033' value: b'{"receipt_number": "004-000177033", "sale_date": "2020-08-25", "sub_total": 48, "tax": 0, '
key: b'002-000144107' value: b'{"receipt_number": "002-000144107", "sale_date": "2020-06-06", "sub_total": 96, "tax": 0, '
key: b'004-000115633' value: b'{"receipt_number": "004-000115633", "sale_date": "2020-06-05", "sub_total": 120, "tax": 0,'
key: b'004-000089887' value: b'{"receipt_number": "004-000089887", "sale_date": "2020-04-30", "sub_total": 48, "tax": 0, '
key: b'001-000181897' value: b'{"receipt_number": "001-000181897", "sale_date": "2020-06-20", "sub_total": 48, "tax": 0, '
key: b'001-000144249' value: b'{"receipt_number": "001-000144249", "sale_date": "2020-05-16", "sub_total": 84, "tax": 0, '
key: b'001-000169216' value: b'{"receipt_number": "001-000169216", "sale_date": "2020-06-09", "sub_total": 144, "tax": 0,'
key: b'002-000217889' value: b'{"receipt_number": "002-000217889", "sale_date": "2020-08-23", "sub_total": 24, "tax": 0, '
key: b'005-000109305' value: b'{"receipt_number": "005-000109305", "sale_date": "2020-06-27", "sub_total": 120, "tax": 0,'
key: b'001-000128112' value: b'{"receipt_number": "001-000128112", "sale_date": "2020-04-30", "sub_total": 24, "tax": 0, '
key: b'004-000192337' value: b'{"receipt_number": "004-000192337", "sale_date": "2020-09-16", "sub_total": 96, "tax": 0, '
key: b'002-000218323' value: b'{"receipt_number": "002-000218323", "sale_date": "2020-08-23", "sub_total": 48, "tax": 0, '
key: b'003-000134868' value: b'{"receipt_number": "003-000134868", "sale_date": "2020-06-14", "sub_total": 48, "tax": 0, '
key: b'001-000255285' value: b'{"receipt_number": "001-000255285", "sale_date": "2020-08-29", "sub_total": 36, "tax": 0, '
key: b'003-000154102' value: b'{"receipt_number": "003-000154102", "sale_date": "2020-07-10", "sub_total": 24, "tax": 0, '
key: b'005-000104373' value: b'{"receipt_number": "005-000104373", "sale_date": "2020-06-18", "sub_total": 48, "tax": 0, '
key: b'002-000105004' value: b'{"receipt_number": "002-000105004", "sale_date": "2020-04-23", "sub_total": 36, "tax": 0, '
key: b'003-000131827' value: b'{"receipt_number": "003-000131827", "sale_date": "2020-06-11", "sub_total": 108, "tax": 0,'
key: b'005-000157919' value: b'{"receipt_number": "005-000157919", "sale_date": "2020-09-14", "sub_total": 48, "tax": 0, '
key: b'003-000209184' value: b'{"receipt_number": "003-000209184", "sale_date": "2020-09-13", "sub_total": 36, "tax": 0, '
key: b'004-000183530' value: b'{"receipt_number": "004-000183530", "sale_date": "2020-09-02", "sub_total": 144, "tax": 0,'
key: b'003-000183488' value: b'{"receipt_number": "003-000183488", "sale_date": "2020-08-13", "sub_total": 12, "tax": 0, '
key: b'005-000126722' value: b'{"receipt_number": "005-000126722", "sale_date": "2020-07-26", "sub_total": 36, "tax": 0, '
key: b'003-000177427' value: b'{"receipt_number": "003-000177427", "sale_date": "2020-08-06", "sub_total": 24, "tax": 0, '
key: b'002-000115912' value: b'{"receipt_number": "002-000115912", "sale_date": "2020-05-04", "sub_total": 48, "tax": 0, '
key: b'004-000137286' value: b'{"receipt_number": "004-000137286", "sale_date": "2020-07-05", "sub_total": 24, "tax": 0, '
key: b'002-000115446' value: b'{"receipt_number": "002-000115446", "sale_date": "2020-05-03", "sub_total": 12, "tax": 0, '
key: b'002-000109083' value: b'{"receipt_number": "002-000109083", "sale_date": "2020-04-27", "sub_total": 132, "tax": 0,'
key: b'001-000263524' value: b'{"receipt_number": "001-000263524", "sale_date": "2020-09-07", "sub_total": 48, "tax": 0, '
key: b'005-000105691' value: b'{"receipt_number": "005-000105691", "sale_date": "2020-06-20", "sub_total": 24, "tax": 0, '
key: b'004-000143587' value: b'{"receipt_number": "004-000143587", "sale_date": "2020-07-14", "sub_total": 60, "tax": 0, '
key: b'003-000131547' value: b'{"receipt_number": "003-000131547", "sale_date": "2020-06-10", "sub_total": 84, "tax": 0, '
key: b'005-000107715' value: b'{"receipt_number": "005-000107715", "sale_date": "2020-06-24", "sub_total": 36, "tax": 0, '
key: b'001-000250031' value: b'{"receipt_number": "001-000250031", "sale_date": "2020-08-23", "sub_total": 24, "tax": 0, '
key: b'001-000179181' value: b'{"receipt_number": "001-000179181", "sale_date": "2020-06-18", "sub_total": 48, "tax": 0, '
key: b'001-000163141' value: b'{"receipt_number": "001-000163141", "sale_date": "2020-06-04", "sub_total": 96, "tax": 0, '
key: b'005-000136553' value: b'{"receipt_number": "005-000136553", "sale_date": "2020-08-09", "sub_total": 36, "tax": 0, '
key: b'002-000119996' value: b'{"receipt_number": "002-000119996", "sale_date": "2020-05-08", "sub_total": 36, "tax": 0, '
key: b'004-000111979' value: b'{"receipt_number": "004-000111979", "sale_date": "2020-05-31", "sub_total": 108, "tax": 0,'
key: b'005-000136735' value: b'{"receipt_number": "005-000136735", "sale_date": "2020-08-10", "sub_total": 96, "tax": 0, '
key: b'004-000177233' value: b'{"receipt_number": "004-000177233", "sale_date": "2020-08-26", "sub_total": 60, "tax": 0, '
key: b'003-000099402' value: b'{"receipt_number": "003-000099402", "sale_date": "2020-05-01", "sub_total": 36, "tax": 0, '
key: b'003-000186881' value: b'{"receipt_number": "003-000186881", "sale_date": "2020-08-16", "sub_total": 144, "tax": 0,'
key: b'004-000138546' value: b'{"receipt_number": "004-000138546", "sale_date": "2020-07-08", "sub_total": 96, "tax": 0, '
key: b'005-000088989' value: b'{"receipt_number": "005-000088989", "sale_date": "2020-05-25", "sub_total": 24, "tax": 0, '
key: b'001-000248269' value: b'{"receipt_number": "001-000248269", "sale_date": "2020-08-22", "sub_total": 60, "tax": 0, '
key: b'002-000158290' value: b'{"receipt_number": "002-000158290", "sale_date": "2020-06-20", "sub_total": 84, "tax": 0, '
key: b'003-000164376' value: b'{"receipt_number": "003-000164376", "sale_date": "2020-07-22", "sub_total": 108, "tax": 0,'
key: b'005-000147541' value: b'{"receipt_number": "005-000147541", "sale_date": "2020-08-27", "sub_total": 96, "tax": 0, '
key: b'002-000203726' value: b'{"receipt_number": "002-000203726", "sale_date": "2020-08-08", "sub_total": 132, "tax": 0,'

In [39]:
customers_db = redis.Redis(host='redis', port=6379, db=4)

customers_db.flushdb()

customers_pipe = customers_db.pipeline()

In [40]:
f3 = open("temp_customers_nested.json")
file_json3 = json.load(f3)
f3.close()

customers_json_list = file_json3["customers"]

In [42]:
for customer in customers_json_list:
    customers_pipe.set(customer["customer_id"],json.dumps(customer))
    
customers_pipe.execute()

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True]

In [43]:
for key in customers_db.keys():
    print("key:", key, "value:", customers_db.get(key)[:90])

key: b'9528' value: b'{"customer_id": 9528, "first_name": "Markos", "last_name": "Toderi", "first_last_name": "M'
key: b'19494' value: b'{"customer_id": 19494, "first_name": "Brianne", "last_name": "Dundendale", "first_last_nam'
key: b'17711' value: b'{"customer_id": 17711, "first_name": "Sheffield", "last_name": "Dunkerton", "first_last_na'
key: b'10295' value: b'{"customer_id": 10295, "first_name": "Debby", "last_name": "Leber", "first_last_name": "De'
key: b'23017' value: b'{"customer_id": 23017, "first_name": "Darb", "last_name": "Goucher", "first_last_name": "D'
key: b'27997' value: b'{"customer_id": 27997, "first_name": "Meagan", "last_name": "Gussin", "first_last_name": "'
key: b'14460' value: b'{"customer_id": 14460, "first_name": "Shannon", "last_name": "Morrall", "first_last_name":'
key: b'25267' value: b'{"customer_id": 25267, "first_name": "Tobin", "last_name": "Pude", "first_last_name": "Tob'
key: b'6782' value: b'{"customer_id": 6782, "first_name": "Lyndsay", "last_name": "Iuorio", "first_last_name": "'
key: b'29922' value: b'{"customer_id": 29922, "first_name": "Garwin", "last_name": "Aleksankin", "first_last_name'
key: b'29285' value: b'{"customer_id": 29285, "first_name": "Ezmeralda", "last_name": "McCreadie", "first_last_na'
key: b'27654' value: b'{"customer_id": 27654, "first_name": "Nestor", "last_name": "Winfred", "first_last_name": '
key: b'30184' value: b'{"customer_id": 30184, "first_name": "Mindy", "last_name": "Bockh", "first_last_name": "Mi'
key: b'1597' value: b'{"customer_id": 1597, "first_name": "Norry", "last_name": "Macauley", "first_last_name": "'
key: b'16932' value: b'{"customer_id": 16932, "first_name": "Betta", "last_name": "Swatland", "first_last_name": '
key: b'27926' value: b'{"customer_id": 27926, "first_name": "Kerrin", "last_name": "Bridel", "first_last_name": "'
key: b'19954' value: b'{"customer_id": 19954, "first_name": "Merell", "last_name": "Cruikshanks", "first_last_nam'
key: b'22673' value: b'{"customer_id": 22673, "first_name": "Sue", "last_name": "Delepine", "first_last_name": "S'
key: b'26882' value: b'{"customer_id": 26882, "first_name": "Billy", "last_name": "Cattini", "first_last_name": "'
key: b'15481' value: b'{"customer_id": 15481, "first_name": "Raquel", "last_name": "Ansill", "first_last_name": "'
key: b'1991' value: b'{"customer_id": 1991, "first_name": "Kevon", "last_name": "Wickett", "first_last_name": "K'
key: b'563' value: b'{"customer_id": 563, "first_name": "Rose", "last_name": "Slimings", "first_last_name": "Ro'
key: b'4159' value: b'{"customer_id": 4159, "first_name": "Cheryl", "last_name": "Broe", "first_last_name": "Che'
key: b'28267' value: b'{"customer_id": 28267, "first_name": "Frederica", "last_name": "Cabrer", "first_last_name"'
key: b'3491' value: b'{"customer_id": 3491, "first_name": "Siouxie", "last_name": "M\'Quharge", "first_last_name"'
key: b'12160' value: b'{"customer_id": 12160, "first_name": "Sim", "last_name": "Dorie", "first_last_name": "Sim '
key: b'29783' value: b'{"customer_id": 29783, "first_name": "Nobie", "last_name": "Nuemann", "first_last_name": "'
key: b'15799' value: b'{"customer_id": 15799, "first_name": "Zackariah", "last_name": "McCreath", "first_last_nam'
key: b'9189' value: b'{"customer_id": 9189, "first_name": "Cornell", "last_name": "Brammar", "first_last_name": '
key: b'25339' value: b'{"customer_id": 25339, "first_name": "Lucilia", "last_name": "Logg", "first_last_name": "L'
key: b'9298' value: b'{"customer_id": 9298, "first_name": "Cecilla", "last_name": "Lewry", "first_last_name": "C'
key: b'16476' value: b'{"customer_id": 16476, "first_name": "Yancey", "last_name": "Lamyman", "first_last_name": '
key: b'28750' value: b'{"customer_id": 28750, "first_name": "Jareb", "last_name": "Girt", "first_last_name": "Jar'
key: b'12493' value: b'{"customer_id": 12493, "first_name": "Lula", "last_name": "Stoneman", "first_last_name": "'
key: b'27380' value: b'{"customer_id": 27380, "first_name": "Juliette", "last_name": "Simoncello", "first_last_na'
key: b'5394' value: b'{"customer_id": 5394, "first_name": "Katharina", "last_name": "Bavester", "first_last_name'
key: b'27728' value: b'{"customer_id": 27728, "first_name": "Gus", "last_name": "Haliburton", "first_last_name": '
key: b'9046' value: b'{"customer_id": 9046, "first_name": "Beth", "last_name": "Scotchmor", "first_last_name": "'
key: b'24014' value: b'{"customer_id": 24014, "first_name": "Michale", "last_name": "Caudle", "first_last_name": '
key: b'11779' value: b'{"customer_id": 11779, "first_name": "Emlynne", "last_name": "Takle", "first_last_name": "'
key: b'4198' value: b'{"customer_id": 4198, "first_name": "Andreana", "last_name": "Drew", "first_last_name": "A'
key: b'17003' value: b'{"customer_id": 17003, "first_name": "Pryce", "last_name": "Slafford", "first_last_name": '
key: b'19226' value: b'{"customer_id": 19226, "first_name": "Christin", "last_name": "Penny", "first_last_name": '
key: b'23319' value: b'{"customer_id": 23319, "first_name": "Brnaba", "last_name": "Challicombe", "first_last_nam'
key: b'11291' value: b'{"customer_id": 11291, "first_name": "Dasi", "last_name": "Radden", "first_last_name": "Da'
key: b'15710' value: b'{"customer_id": 15710, "first_name": "Ted", "last_name": "Campany", "first_last_name": "Te'
key: b'23347' value: b'{"customer_id": 23347, "first_name": "Royce", "last_name": "Fielders", "first_last_name": '
key: b'4260' value: b'{"customer_id": 4260, "first_name": "Dom", "last_name": "Risbrough", "first_last_name": "D'
key: b'1958' value: b'{"customer_id": 1958, "first_name": "Theresina", "last_name": "Penswick", "first_last_name'
key: b'23902' value: b'{"customer_id": 23902, "first_name": "Joice", "last_name": "Chidgey", "first_last_name": "'