# Data Wrangling 1.5 Solutions

In [1]:
import openpyxl

import psycopg2

import json

import csv

import openpyxl

In [2]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [3]:
cursor = connection.cursor()

In [4]:
def my_read_excel_work_book_sheet(excel_file_name, sheet_name, limit):
    "open the excel file, find the sheet_name, print the number of rows specified"
    
    work_book = openpyxl.load_workbook(excel_file_name)
    
    work_sheet = work_book[sheet_name]
                                       
    print("\nExcel Workbook:", excel_file_name)
          
    print("\nWork Sheet:", sheet_name)
    
    print("\nNumber of Columns:", work_sheet.max_column)
          
    print("\nNumber of Rows:", work_sheet.max_row)
    
    work_sheet_list = []
    
    for i in range(1,work_sheet.max_row+1):
        
        row_list = []
        
        for j in range(1,work_sheet.max_column+1):
            
            row_list.append(work_sheet.cell(row = i, column = j).value)
            
        work_sheet_list.append(row_list)
    
    print("\nPrinting the first", limit, "rows :\n")
    
    i = 0
    for row in work_sheet_list:
        print(row)
        i += 1
        if i == limit:
            break

## You try it - read the remaining worksheets in the Excel workbook: Customers, Sales, Line Items, Products, Holidays

In [5]:
my_read_excel_work_book_sheet("temp_sale_report.xlsx", "Customers", 10)

Excel Workbook: temp_sale_report.xlsx

Work Sheet: Customers

Number of Columns: 9

Number of Rows: 51

Printing the first 10 rows :

['customer_id', 'first_name', 'last_name', 'street', 'city', 'state', 'zip', 'closest_store_id', 'distance']
[563, 'Rose', 'Slimings', '38 Iowa Street', 'Berkeley', 'CA', '94704', 1, 1]
[1597, 'Norry', 'Macauley', '654 Sommers Plaza', 'Oakland', 'CA', '94612', 1, 3]
[1958, 'Theresina', 'Penswick', '5975 Twin Pines Hill', 'Berkeley', 'CA', '94707', 1, 3]
[1991, 'Kevon', 'Wickett', '472 Arizona Court', 'Berkeley', 'CA', '94707', 1, 3]
[3491, 'Siouxie', "M'Quharge", '747 Westridge Center', 'Alameda', 'CA', '94501', 1, 6]
[4159, 'Cheryl', 'Broe', '7 Ruskin Alley', 'El Sobrante', 'CA', '94803', 1, 7]
[4198, 'Andreana', 'Drew', '11039 Cordelia Alley', 'El Sobrante', 'CA', '94803', 1, 7]
[4260, 'Dom', 'Risbrough', '3 Northland Crossing', 'Richmond', 'CA', '94805', 1, 7]
[5394, 'Katharina', 'Bavester', '522 Cordelia Lane', 'San Francisco', 'CA', '94102', 1, 10]

In [6]:
my_read_excel_work_book_sheet("temp_sale_report.xlsx", "Sales", 10)

Excel Workbook: temp_sale_report.xlsx

Work Sheet: Sales

Number of Columns: 5

Number of Rows: 51

Printing the first 10 rows :

['store_id', 'sale_id', 'customer_id', 'sale_date', 'total_amount']
[1, 128112, 3491, datetime.datetime(2020, 4, 30, 0, 0), 24]
[1, 144249, 1597, datetime.datetime(2020, 5, 16, 0, 0), 84]
[1, 163141, 4159, datetime.datetime(2020, 6, 4, 0, 0), 96]
[1, 169216, 4198, datetime.datetime(2020, 6, 9, 0, 0), 144]
[1, 179181, 5394, datetime.datetime(2020, 6, 18, 0, 0), 48]
[1, 181897, 1958, datetime.datetime(2020, 6, 20, 0, 0), 48]
[1, 248269, 4260, datetime.datetime(2020, 8, 22, 0, 0), 60]
[1, 250031, 6782, datetime.datetime(2020, 8, 23, 0, 0), 24]
[1, 255285, 563, datetime.datetime(2020, 8, 29, 0, 0), 36]

In [7]:
my_read_excel_work_book_sheet("temp_sale_report.xlsx", "Line Items", 10)

Excel Workbook: temp_sale_report.xlsx

Work Sheet: Line Items

Number of Columns: 5

Number of Rows: 177

Printing the first 10 rows :

['store_id', 'sale_id', 'line_item_id', 'product_id', 'quantity']
[1, 128112, 1, 1, 1]
[1, 128112, 2, 8, 1]
[1, 144249, 1, 1, 1]
[1, 144249, 2, 2, 1]
[1, 144249, 3, 4, 2]
[1, 144249, 4, 6, 1]
[1, 144249, 5, 8, 2]
[1, 163141, 1, 1, 3]
[1, 163141, 2, 3, 1]

In [8]:
my_read_excel_work_book_sheet("temp_sale_report.xlsx", "Products", 10)

Excel Workbook: temp_sale_report.xlsx

Work Sheet: Products

Number of Columns: 2

Number of Rows: 9

Printing the first 10 rows :

['product_id', 'description']
[1, 'Pistachio Salmon']
[2, 'Teriyaki Chicken']
[3, 'Spinach Orzo']
[4, 'Eggplant Lasagna']
[5, 'Chicken Salad']
[6, 'Curry Chicken']
[7, 'Tilapia Piccata']
[8, 'Brocolli Stir Fry']

In [9]:
my_read_excel_work_book_sheet("temp_sale_report.xlsx", "Holidays", 10)

Excel Workbook: temp_sale_report.xlsx

Work Sheet: Holidays

Number of Columns: 3

Number of Rows: 13

Printing the first 10 rows :

['holiday_date', 'description', 'closed_flag']
[datetime.datetime(2020, 1, 1, 0, 0), "New Year's Day", False]
[datetime.datetime(2020, 1, 20, 0, 0), 'MLK Day', False]
[datetime.datetime(2020, 2, 17, 0, 0), "President's Day", False]
[datetime.datetime(2020, 4, 12, 0, 0), 'Easter', False]
[datetime.datetime(2020, 5, 10, 0, 0), "Mother's Day", False]
[datetime.datetime(2020, 5, 25, 0, 0), 'Memorial Day', False]
[datetime.datetime(2020, 6, 21, 0, 0), "Father's Day", False]
[datetime.datetime(2020, 7, 4, 0, 0), 'Independence Day', False]
[datetime.datetime(2020, 9, 7, 0, 0), 'Labor Day', False]

## You try it - extract the remaining worksheets in the workbook into csv files; verify the csv files by reading them:

* Customers to temp_customers_excel.csv
* Sales to temp_sales_excel.csv
* Line Items to temp_line_items.csv
* Products to temp_products_excel.csv
* Holidays to temp_holidays_excel.csv

In [10]:
def my_export_excel_work_book_sheet_to_csv(excel_file_name, sheet_name, csv_file_name):
    "open the excel file, find the sheet_name, export to csv file "
    
    work_book = openpyxl.load_workbook(excel_file_name)
    
    work_sheet = work_book[sheet_name]
                                       
    print("\nExcel Workbook:", excel_file_name)
          
    print("\nWork Sheet:", sheet_name)
    
    print("\nNumber of Columns:", work_sheet.max_column)
          
    print("\nNumber of Rows:", work_sheet.max_row)
    
    work_sheet_list = []
    
    for i in range(1,work_sheet.max_row+1):
        
        row_list = []
        
        for j in range(1,work_sheet.max_column+1):
            
            row_list.append(work_sheet.cell(row = i, column = j).value)
            
        work_sheet_list.append(row_list)
    
    print("\nExtracting Work Sheet", sheet_name, "to", csv_file_name, "\n")
    
    f = open(csv_file_name, "w")    
    writer = csv.writer(f)
    writer.writerows(work_sheet_list)
    f.close()

In [11]:
my_export_excel_work_book_sheet_to_csv("temp_sale_report.xlsx", "Customers", "temp_customers_excel.csv")

Excel Workbook: temp_sale_report.xlsx

Work Sheet: Customers

Number of Columns: 9

Number of Rows: 51

Extracting Work Sheet Customers to temp_customers_excel.csv

In [12]:
my_export_excel_work_book_sheet_to_csv("temp_sale_report.xlsx", "Sales", "temp_sales_excel.csv")

Excel Workbook: temp_sale_report.xlsx

Work Sheet: Sales

Number of Columns: 5

Number of Rows: 51

Extracting Work Sheet Sales to temp_sales_excel.csv

In [13]:
my_export_excel_work_book_sheet_to_csv("temp_sale_report.xlsx", "Line Items", "temp_line_items_excel.csv")

Excel Workbook: temp_sale_report.xlsx

Work Sheet: Line Items

Number of Columns: 5

Number of Rows: 177

Extracting Work Sheet Line Items to temp_line_items_excel.csv

In [14]:
my_export_excel_work_book_sheet_to_csv("temp_sale_report.xlsx", "Products", "temp_products_excel.csv")

Excel Workbook: temp_sale_report.xlsx

Work Sheet: Products

Number of Columns: 2

Number of Rows: 9

Extracting Work Sheet Products to temp_products_excel.csv

In [15]:
my_export_excel_work_book_sheet_to_csv("temp_sale_report.xlsx", "Holidays", "temp_holidays_excel.csv")

Excel Workbook: temp_sale_report.xlsx

Work Sheet: Holidays

Number of Columns: 3

Number of Rows: 13

Extracting Work Sheet Holidays to temp_holidays_excel.csv

In [16]:
def my_read_csv_file(file_name, limit):
    "read the csv file and print only the first limit rows"
    
    csv_file = open(file_name, "r")
    
    csv_data = csv.reader(csv_file)
    
    i = 0
    
    for row in csv_data:
        i += 1
        if i <= limit:
            print(row)
            
    print("\nPrinted ", min(limit, i), "lines of ", i, "total lines.")

In [17]:
my_read_csv_file("temp_customers_excel.csv", 25)

['customer_id', 'first_name', 'last_name', 'street', 'city', 'state', 'zip', 'closest_store_id', 'distance']
['563', 'Rose', 'Slimings', '38 Iowa Street', 'Berkeley', 'CA', '94704', '1', '1']
['1597', 'Norry', 'Macauley', '654 Sommers Plaza', 'Oakland', 'CA', '94612', '1', '3']
['1958', 'Theresina', 'Penswick', '5975 Twin Pines Hill', 'Berkeley', 'CA', '94707', '1', '3']
['1991', 'Kevon', 'Wickett', '472 Arizona Court', 'Berkeley', 'CA', '94707', '1', '3']
['3491', 'Siouxie', "M'Quharge", '747 Westridge Center', 'Alameda', 'CA', '94501', '1', '6']
['4159', 'Cheryl', 'Broe', '7 Ruskin Alley', 'El Sobrante', 'CA', '94803', '1', '7']
['4198', 'Andreana', 'Drew', '11039 Cordelia Alley', 'El Sobrante', 'CA', '94803', '1', '7']
['4260', 'Dom', 'Risbrough', '3 Northland Crossing', 'Richmond', 'CA', '94805', '1', '7']
['5394', 'Katharina', 'Bavester', '522 Cordelia Lane', 'San Francisco', 'CA', '94102', '1', '10']
['6782', 'Lyndsay', 'Iuorio', '4 Thackeray Road', 'Walnut Creek', 'CA', '94596', '1', '12']
['9046', 'Beth', 'Scotchmor', '6070 Merchant Park', 'Seattle', 'WA', '98112', '2', '2']
['9189', 'Cornell', 'Brammar', '94261 Sunnyside Junction', 'Seattle', 'WA', '98112', '2', '2']
['9298', 'Cecilla', 'Lewry', '987 Kim Terrace', 'Seattle', 'WA', '98144', '2', '2']
['9528', 'Markos', 'Toderi', '6434 Mallard Way', 'Seattle', 'WA', '98119', '2', '3']
['10295', 'Debby', 'Leber', '1660 Bluejay Circle', 'Mercer Island', 'WA', '98040', '2', '5']
['11291', 'Dasi', 'Radden', '18 Hoepker Court', 'Seattle', 'WA', '98136', '2', '6']
['11779', 'Emlynne', 'Takle', '1 Johnson Park', 'Seattle', 'WA', '98125', '2', '7']
['12160', 'Sim', 'Dorie', '6709 Bayside Hill', 'Seattle', 'WA', '98146', '2', '8']
['12493', 'Lula', 'Stoneman', '2 Gateway Center', 'Kirkland', 'WA', '98034', '2', '9']
['14460', 'Shannon', 'Morrall', '12076 Lotheville Circle', 'Port Orchard', 'WA', '98366', '2', '13']
['15481', 'Raquel', 'Ansill', '57 Fordem Circle', 'Dallas', 'TX', '75201', '3', '1']
['15710', 'Ted', 'Campany', '91111 West Road', 'Dallas', 'TX', '75219', '3', '1']
['15799', 'Zackariah', 'McCreath', '64828 Farwell Terrace', 'Dallas', 'TX', '75219', '3', '1']
['16476', 'Yancey', 'Lamyman', '3078 Emmet Junction', 'Dallas', 'TX', '75206', '3', '3']

Printed  25 lines of  51 total lines.

In [18]:
my_read_csv_file("temp_sales_excel.csv", 25)

['store_id', 'sale_id', 'customer_id', 'sale_date', 'total_amount']
['1', '128112', '3491', '2020-04-30 00:00:00', '24']
['1', '144249', '1597', '2020-05-16 00:00:00', '84']
['1', '163141', '4159', '2020-06-04 00:00:00', '96']
['1', '169216', '4198', '2020-06-09 00:00:00', '144']
['1', '179181', '5394', '2020-06-18 00:00:00', '48']
['1', '181897', '1958', '2020-06-20 00:00:00', '48']
['1', '248269', '4260', '2020-08-22 00:00:00', '60']
['1', '250031', '6782', '2020-08-23 00:00:00', '24']
['1', '255285', '563', '2020-08-29 00:00:00', '36']
['1', '263524', '1991', '2020-09-07 00:00:00', '48']
['2', '105004', '12160', '2020-04-23 00:00:00', '36']
['2', '109083', '11291', '2020-04-27 00:00:00', '132']
['2', '115446', '11779', '2020-05-03 00:00:00', '12']
['2', '115912', '9298', '2020-05-04 00:00:00', '48']
['2', '119996', '14460', '2020-05-08 00:00:00', '36']
['2', '144107', '9046', '2020-06-06 00:00:00', '96']
['2', '158290', '9189', '2020-06-20 00:00:00', '84']
['2', '203726', '12493', '2020-08-08 00:00:00', '132']
['2', '217889', '10295', '2020-08-23 00:00:00', '24']
['2', '218323', '9528', '2020-08-23 00:00:00', '48']
['3', '99402', '17003', '2020-05-01 00:00:00', '36']
['3', '131547', '19494', '2020-06-10 00:00:00', '84']
['3', '131827', '15481', '2020-06-11 00:00:00', '108']
['3', '134868', '16476', '2020-06-14 00:00:00', '48']

Printed  25 lines of  51 total lines.

In [19]:
my_read_csv_file("temp_line_items_excel.csv", 25)

['store_id', 'sale_id', 'line_item_id', 'product_id', 'quantity']
['1', '128112', '1', '1', '1']
['1', '128112', '2', '8', '1']
['1', '144249', '1', '1', '1']
['1', '144249', '2', '2', '1']
['1', '144249', '3', '4', '2']
['1', '144249', '4', '6', '1']
['1', '144249', '5', '8', '2']
['1', '163141', '1', '1', '3']
['1', '163141', '2', '3', '1']
['1', '163141', '3', '5', '1']
['1', '163141', '4', '7', '1']
['1', '163141', '5', '8', '2']
['1', '169216', '1', '1', '3']
['1', '169216', '2', '3', '1']
['1', '169216', '3', '4', '4']
['1', '169216', '4', '5', '1']
['1', '169216', '5', '6', '2']
['1', '169216', '6', '8', '1']
['1', '179181', '1', '2', '1']
['1', '179181', '2', '3', '1']
['1', '179181', '3', '4', '1']
['1', '179181', '4', '6', '1']
['1', '181897', '1', '1', '1']
['1', '181897', '2', '6', '1']

Printed  25 lines of  177 total lines.

In [20]:
my_read_csv_file("temp_products_excel.csv", 25)

['product_id', 'description']
['1', 'Pistachio Salmon']
['2', 'Teriyaki Chicken']
['3', 'Spinach Orzo']
['4', 'Eggplant Lasagna']
['5', 'Chicken Salad']
['6', 'Curry Chicken']
['7', 'Tilapia Piccata']
['8', 'Brocolli Stir Fry']

Printed  9 lines of  9 total lines.

In [21]:
my_read_csv_file("temp_holidays_excel.csv", 25)

['holiday_date', 'description', 'closed_flag']
['2020-01-01 00:00:00', "New Year's Day", 'False']
['2020-01-20 00:00:00', 'MLK Day', 'False']
['2020-02-17 00:00:00', "President's Day", 'False']
['2020-04-12 00:00:00', 'Easter', 'False']
['2020-05-10 00:00:00', "Mother's Day", 'False']
['2020-05-25 00:00:00', 'Memorial Day', 'False']
['2020-06-21 00:00:00', "Father's Day", 'False']
['2020-07-04 00:00:00', 'Independence Day', 'False']
['2020-09-07 00:00:00', 'Labor Day', 'False']
['2020-11-11 00:00:00', 'Veterans Days', 'False']
['2020-11-26 00:00:00', 'Thanksgiving', 'True']
['2020-12-25 00:00:00', 'Christmas', 'True']

Printed  13 lines of  13 total lines.

## You try it -  add code cells to the above code to add worksheets for Customers, Sales, Line Items, Products, and Holidays; verify by reading the sheets

In [22]:
def my_create_excel_sheet_from_query(work_sheet, query):
    "given a work sheet name and query, execute the query and put the results into the sheet"
    
    connection.rollback()
    
    cursor.execute(query)

    connection.rollback()
    
    column_list = [d[0] for d in cursor.description]
    
    row_number = 1
    column_number = 1
    
    for column_name in column_list:
        
        work_sheet.cell(row = row_number, column = column_number, value=column_name)
        
        openpyxl.worksheet.dimensions.ColumnDimension(work_sheet, index=chr(ord('A')+row_number-1), bestFit=True)
        
        column_number += 1
    
    rows = cursor.fetchall()
    
    row_number = 2
    
    for row in rows:
        
        for column_number in range(1, len(column_list)+1):
        
            work_sheet.cell(row = row_number, column = column_number, value=row[column_number-1])
        
        
        row_number += 1

In [23]:
work_book = openpyxl.Workbook()

In [24]:
work_sheet = work_book.active
work_sheet.title = "Sales Report"

query = """

select s.store_id,
       s.city as store,
       (lpad(sa.store_id::text, 3, '0') || '-' || lpad(sa.sale_id::text, 9, '0')) as receipt_number,
       sa.sale_date,
       extract(dow from sa.sale_date) as dow,
       to_char(sa.sale_date, 'Day') as day_of_week,
       to_char(sa.sale_date, 'Month') as month,
       l.line_item_id,
       l.product_id,
       p.description as product_name,
       l.quantity,
       l.quantity * 12 as line_item_amount,
       cu.customer_id,
       cu.first_name,
       cu.last_name,
       (cu.first_name || ' ' || cu.last_name) as first_last_name,
       (cu.last_name || ', ' || cu.first_name) as last_first_name,
       cu.street,
       cu.city,
       cu.state,
       cu.zip,
       cu.closest_store_id,
       cu.distance,
       z.latitude,
       z.longitude,
       z.population,
       z.area,
       z.density,
       z.time_zone
from temp_stores as s
     join temp_sales as sa
         on s.store_id = sa.store_id 
     join temp_customers as cu
         on sa.customer_id = cu.customer_id
     join temp_line_items l
         on sa.store_id = l.store_id and sa.sale_id = l.sale_id
     join temp_products p
         on l.product_id = p.product_id
     join zip_codes z
         on cu.zip = z.zip
order by s.store_id, sa.sale_id, l.line_item_id


"""

my_create_excel_sheet_from_query(work_sheet, query)

In [25]:
work_sheet = work_book.create_sheet("Stores")

query = """

select *
from temp_stores
order by store_id


"""

my_create_excel_sheet_from_query(work_sheet, query)

In [26]:
work_sheet = work_book.create_sheet("Customers")

query = """

select *
from temp_customers
order by customer_id


"""

my_create_excel_sheet_from_query(work_sheet, query)

In [27]:
work_sheet = work_book.create_sheet("Sales")

query = """

select *
from temp_sales
order by store_id, sale_id


"""

my_create_excel_sheet_from_query(work_sheet, query)

In [28]:
work_sheet = work_book.create_sheet("Line Items")

query = """

select *
from temp_line_items
order by store_id, sale_id, line_item_id


"""

my_create_excel_sheet_from_query(work_sheet, query)

In [29]:
work_sheet = work_book.create_sheet("Products")

query = """

select *
from temp_products
order by product_id


"""

my_create_excel_sheet_from_query(work_sheet, query)

In [30]:
work_sheet = work_book.create_sheet("Holidays")

query = """

select *
from holidays
order by holiday_date


"""

my_create_excel_sheet_from_query(work_sheet, query)

In [31]:
work_book.save("temp_sale_report_2.xlsx")

In [32]:
def my_read_excel_work_book_list_sheets(excel_file_name):
    "open the excel file, list the sheets"
    
    work_book = openpyxl.load_workbook(excel_file_name)
    
    print("\nExcel Workbook", excel_file_name, "list of work sheets:\n")
    
    for s in work_book.sheetnames:
        print(s)

In [33]:
my_read_excel_work_book_list_sheets("temp_sale_report_2.xlsx")

Excel Workbook temp_sale_report_2.xlsx list of work sheets:

Sales Report
Stores
Customers
Sales
Line Items
Products
Holidays

In [34]:
my_read_excel_work_book_sheet("temp_sale_report_2.xlsx", "Sales Report", 10)

Excel Workbook: temp_sale_report_2.xlsx

Work Sheet: Sales Report

Number of Columns: 29

Number of Rows: 177

Printing the first 10 rows :

['store_id', 'store', 'receipt_number', 'sale_date', 'dow', 'day_of_week', 'month', 'line_item_id', 'product_id', 'product_name', 'quantity', 'line_item_amount', 'customer_id', 'first_name', 'last_name', 'first_last_name', 'last_first_name', 'street', 'city', 'state', 'zip', 'closest_store_id', 'distance', 'latitude', 'longitude', 'population', 'area', 'density', 'time_zone']
[1, 'Berkeley', '001-000128112', datetime.datetime(2020, 4, 30, 0, 0), 4, 'Thursday ', 'April    ', 1, 1, 'Pistachio Salmon', 1, 12, 3491, 'Siouxie', "M'Quharge", "Siouxie M'Quharge", "M'Quharge, Siouxie", '747 Westridge Center', 'Alameda', 'CA', '94501', 1, 6, 37.7752, -122.2748, 63843, 8.3977, 7602.4, 'America/Los_Angeles']
[1, 'Berkeley', '001-000128112', datetime.datetime(2020, 4, 30, 0, 0), 4, 'Thursday ', 'April    ', 2, 8, 'Brocolli Stir Fry', 1, 12, 3491, 'Siouxie', "M'Quharge", "Siouxie M'Quharge", "M'Quharge, Siouxie", '747 Westridge Center', 'Alameda', 'CA', '94501', 1, 6, 37.7752, -122.2748, 63843, 8.3977, 7602.4, 'America/Los_Angeles']
[1, 'Berkeley', '001-000144249', datetime.datetime(2020, 5, 16, 0, 0), 6, 'Saturday ', 'May      ', 1, 1, 'Pistachio Salmon', 1, 12, 1597, 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', 1, 3, 37.8088, -122.2691, 16062, 0.9543, 16831.56, 'America/Los_Angeles']
[1, 'Berkeley', '001-000144249', datetime.datetime(2020, 5, 16, 0, 0), 6, 'Saturday ', 'May      ', 2, 2, 'Teriyaki Chicken', 1, 12, 1597, 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', 1, 3, 37.8088, -122.2691, 16062, 0.9543, 16831.56, 'America/Los_Angeles']
[1, 'Berkeley', '001-000144249', datetime.datetime(2020, 5, 16, 0, 0), 6, 'Saturday ', 'May      ', 3, 4, 'Eggplant Lasagna', 2, 24, 1597, 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', 1, 3, 37.8088, -122.2691, 16062, 0.9543, 16831.56, 'America/Los_Angeles']
[1, 'Berkeley', '001-000144249', datetime.datetime(2020, 5, 16, 0, 0), 6, 'Saturday ', 'May      ', 4, 6, 'Curry Chicken', 1, 12, 1597, 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', 1, 3, 37.8088, -122.2691, 16062, 0.9543, 16831.56, 'America/Los_Angeles']
[1, 'Berkeley', '001-000144249', datetime.datetime(2020, 5, 16, 0, 0), 6, 'Saturday ', 'May      ', 5, 8, 'Brocolli Stir Fry', 2, 24, 1597, 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', 1, 3, 37.8088, -122.2691, 16062, 0.9543, 16831.56, 'America/Los_Angeles']
[1, 'Berkeley', '001-000163141', datetime.datetime(2020, 6, 4, 0, 0), 4, 'Thursday ', 'June     ', 1, 1, 'Pistachio Salmon', 3, 36, 4159, 'Cheryl', 'Broe', 'Cheryl Broe', 'Broe, Cheryl', '7 Ruskin Alley', 'El Sobrante', 'CA', '94803', 1, 7, 37.9595, -122.2837, 26165, 12.2691, 2132.6, 'America/Los_Angeles']
[1, 'Berkeley', '001-000163141', datetime.datetime(2020, 6, 4, 0, 0), 4, 'Thursday ', 'June     ', 2, 3, 'Spinach Orzo', 1, 12, 4159, 'Cheryl', 'Broe', 'Cheryl Broe', 'Broe, Cheryl', '7 Ruskin Alley', 'El Sobrante', 'CA', '94803', 1, 7, 37.9595, -122.2837, 26165, 12.2691, 2132.6, 'America/Los_Angeles']

In [35]:
my_read_excel_work_book_sheet("temp_sale_report_2.xlsx", "Stores", 10)

Excel Workbook: temp_sale_report_2.xlsx

Work Sheet: Stores

Number of Columns: 7

Number of Rows: 6

Printing the first 10 rows :

['store_id', 'street', 'city', 'state', 'zip', 'latitude', 'longitude']
[1, '3000 Telegraph Ave', 'Berkeley', 'CA', '94705', 37.8555, -122.2604]
[2, '1001 Broadway', 'Seattle', 'WA', '98122', 47.6114, -122.3214]
[3, '2510 McKinney Ave', 'Dallas', 'TX', '75201', 32.7958, -96.8015]
[4, '299 SE 3rd Ave', 'Miami', 'FL', '33131', 25.772, -80.1891]
[5, '1202 Broadway', 'Nashville', 'TN', '37203', 36.1568, -86.7881]

In [36]:
my_read_excel_work_book_sheet("temp_sale_report_2.xlsx", "Customers", 10)

Excel Workbook: temp_sale_report_2.xlsx

Work Sheet: Customers

Number of Columns: 9

Number of Rows: 51

Printing the first 10 rows :

['customer_id', 'first_name', 'last_name', 'street', 'city', 'state', 'zip', 'closest_store_id', 'distance']
[563, 'Rose', 'Slimings', '38 Iowa Street', 'Berkeley', 'CA', '94704', 1, 1]
[1597, 'Norry', 'Macauley', '654 Sommers Plaza', 'Oakland', 'CA', '94612', 1, 3]
[1958, 'Theresina', 'Penswick', '5975 Twin Pines Hill', 'Berkeley', 'CA', '94707', 1, 3]
[1991, 'Kevon', 'Wickett', '472 Arizona Court', 'Berkeley', 'CA', '94707', 1, 3]
[3491, 'Siouxie', "M'Quharge", '747 Westridge Center', 'Alameda', 'CA', '94501', 1, 6]
[4159, 'Cheryl', 'Broe', '7 Ruskin Alley', 'El Sobrante', 'CA', '94803', 1, 7]
[4198, 'Andreana', 'Drew', '11039 Cordelia Alley', 'El Sobrante', 'CA', '94803', 1, 7]
[4260, 'Dom', 'Risbrough', '3 Northland Crossing', 'Richmond', 'CA', '94805', 1, 7]
[5394, 'Katharina', 'Bavester', '522 Cordelia Lane', 'San Francisco', 'CA', '94102', 1, 10]

In [37]:
my_read_excel_work_book_sheet("temp_sale_report_2.xlsx", "Sales", 10)

Excel Workbook: temp_sale_report_2.xlsx

Work Sheet: Sales

Number of Columns: 5

Number of Rows: 51

Printing the first 10 rows :

['store_id', 'sale_id', 'customer_id', 'sale_date', 'total_amount']
[1, 128112, 3491, datetime.datetime(2020, 4, 30, 0, 0), 24]
[1, 144249, 1597, datetime.datetime(2020, 5, 16, 0, 0), 84]
[1, 163141, 4159, datetime.datetime(2020, 6, 4, 0, 0), 96]
[1, 169216, 4198, datetime.datetime(2020, 6, 9, 0, 0), 144]
[1, 179181, 5394, datetime.datetime(2020, 6, 18, 0, 0), 48]
[1, 181897, 1958, datetime.datetime(2020, 6, 20, 0, 0), 48]
[1, 248269, 4260, datetime.datetime(2020, 8, 22, 0, 0), 60]
[1, 250031, 6782, datetime.datetime(2020, 8, 23, 0, 0), 24]
[1, 255285, 563, datetime.datetime(2020, 8, 29, 0, 0), 36]

In [38]:
my_read_excel_work_book_sheet("temp_sale_report_2.xlsx", "Line Items", 10)

Excel Workbook: temp_sale_report_2.xlsx

Work Sheet: Line Items

Number of Columns: 5

Number of Rows: 177

Printing the first 10 rows :

['store_id', 'sale_id', 'line_item_id', 'product_id', 'quantity']
[1, 128112, 1, 1, 1]
[1, 128112, 2, 8, 1]
[1, 144249, 1, 1, 1]
[1, 144249, 2, 2, 1]
[1, 144249, 3, 4, 2]
[1, 144249, 4, 6, 1]
[1, 144249, 5, 8, 2]
[1, 163141, 1, 1, 3]
[1, 163141, 2, 3, 1]

In [39]:
my_read_excel_work_book_sheet("temp_sale_report_2.xlsx", "Products", 10)

Excel Workbook: temp_sale_report_2.xlsx

Work Sheet: Products

Number of Columns: 2

Number of Rows: 9

Printing the first 10 rows :

['product_id', 'description']
[1, 'Pistachio Salmon']
[2, 'Teriyaki Chicken']
[3, 'Spinach Orzo']
[4, 'Eggplant Lasagna']
[5, 'Chicken Salad']
[6, 'Curry Chicken']
[7, 'Tilapia Piccata']
[8, 'Brocolli Stir Fry']

In [40]:
my_read_excel_work_book_sheet("temp_sale_report_2.xlsx", "Holidays", 10)

Excel Workbook: temp_sale_report_2.xlsx

Work Sheet: Holidays

Number of Columns: 3

Number of Rows: 13

Printing the first 10 rows :

['holiday_date', 'description', 'closed_flag']
[datetime.datetime(2020, 1, 1, 0, 0), "New Year's Day", False]
[datetime.datetime(2020, 1, 20, 0, 0), 'MLK Day', False]
[datetime.datetime(2020, 2, 17, 0, 0), "President's Day", False]
[datetime.datetime(2020, 4, 12, 0, 0), 'Easter', False]
[datetime.datetime(2020, 5, 10, 0, 0), "Mother's Day", False]
[datetime.datetime(2020, 5, 25, 0, 0), 'Memorial Day', False]
[datetime.datetime(2020, 6, 21, 0, 0), "Father's Day", False]
[datetime.datetime(2020, 7, 4, 0, 0), 'Independence Day', False]
[datetime.datetime(2020, 9, 7, 0, 0), 'Labor Day', False]